<div class="modal-header">
    <div class="hbox" style="align-items: center">
        <h3 class="modal-title" style="flex: 1">Header editor</h3>
        <div *ngIf="header" class="checkbox-inline" style="white-space: nowrap; margin-left: 4px;">
            <label>
                <input type="checkbox" [(ngModel)]="header.ignore" (ngModelChange)="onIgnoreChange()">Ignore header
            </label>
            <span class="glyphicon glyphicon-info-sign" title="If checked, the current header will be ignored in the generated PEARL code and thus in the conversion process">
            </span>
        </div>
    </div>
</div>
<div class="modal-body vbox scrollableContainer">

    <table class="table table-condensed table-borderless">
        <colgroup>
            <col style="width: 1%;">
            <col>
        </colgroup>
        <tbody>
            <tr>
                <td class="text-right"><label>Header:</label></td>
                <td>
                    <input type="text" class="form-control input-sm" [ngModel]="header?.nameStruct.fullName" readonly>
                </td>
            </tr>
            <tr>
                <td class="text-right" nowrap><label>PEARL feature:</label></td>
                <td>
                    <input type="text" class="form-control input-sm" [ngModel]="header?.pearlFeature" readonly>
                </td>
            </tr>
        </tbody>
    </table>


    <div class="panel panel-default vbox" style="margin-top: 4px; min-height: 100px">
        <div class="panel-heading">
            <label style="flex: 1">
                Nodes
                <span class="glyphicon glyphicon-info-sign" title="List of nodes generated from the current header"></span>
            </label>
            <div class="btn-toolbar" role="toolbar">
                <button class="btn btn-xs btn-default" (click)="removeNode()" [disabled]="!selectedNode || header.ignore">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
            </div>
        </div>
        <div class="panel-body vbox table-responsive">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Node ID</th>
                        <th>Converter type</th>
                        <th>Converter URI</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let n of header?.nodes" (click)="selectNode(n)" [ngStyle]="{ cursor: header?.ignore ? 'not-allowed' : 'pointer' }"
                        [ngClass]="{ active : n == selectedNode }">
                        <td [ngClass]="{ grayText : header?.ignore }">{{n.nodeId}}</td>
                        <td [ngClass]="{ grayText : header?.ignore }">{{n.converter?.type}}</td>
                        <td [ngClass]="{ grayText : header?.ignore }" nowrap>
                            {{n.converter?.contractUri}}
                            <button *ngIf="n.converter?.type == 'uri'" class="btn btn-xs btn-default" (click)="changeUriConverter(n)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </td>
                        <td [ngClass]="{ grayText : header?.ignore }" nowrap>
                            <span *ngIf="n.converter?.language; else dtBlock">
                                <label style="white-space: pre">Lang: </label>{{n.converter.language}}
                                <button *ngIf="n.converter?.type == 'literal'" class="btn btn-xs btn-default" (click)="changeLiteralConverter(n)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </span>
                            <span #dtBlock *ngIf="n.converter?.datatypeUri">
                                <label style="white-space: pre">Datatype: </label>{{getDatatypeShow(n.converter.datatypeUri)}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default vbox" style="margin-top: 4px; min-height: 100px">
        <div class="panel-heading">
            <label style="flex: 1">
                Graph applications
                <span class="glyphicon glyphicon-info-sign" title="List of applications of the nodes defined in the 'Nodes' panel"></span>
            </label>
            <div class="btn-toolbar" role="toolbar">
                <button class="btn btn-xs btn-default" (click)="editGraph()" [disabled]="!selectedGraph || header?.ignore">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <div class="btn-group btn-group-xs">
                    <div class="btn-group btn-group-xs" role="group">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" [disabled]="header?.ignore">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a (click)="addSimpleGraphApplication()">Add simple graph application</a></li>
                            <li><a (click)="addAdvancedGraphApplication()">Add advanced graph application</a></li>
                        </ul>
                    </div>
                    <button class="btn btn-default" (click)="removeGraph()" [disabled]="!selectedGraph || header?.ignore">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body vbox scrollableContainer" style="min-height: 80px">
            <table class="table table-condensed">
                <colgroup>
                    <col style="width: 1%">
                    <col>
                </colgroup>
                <tbody>
                    <tr *ngFor="let g of header?.graph" (click)="selectGraph(g)" [ngStyle]="{ cursor: header?.ignore ? 'not-allowed' : 'pointer' }"
                        [ngClass]="{ active : g == selectedGraph }">
                        <ng-container *ngIf="isSimpleGraphApplication(g); else advancedGraphBlock">
                            <td [ngClass]="{ grayText : header?.ignore }" nowrap><label>Simple Graph Application:</label></td>
                            <td [ngClass]="{ grayText : header?.ignore }" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 0">$subject {{g.property.getShow()}} ${{g.nodeId}}</td>
                        </ng-container>
                        <ng-template #advancedGraphBlock>
                            <td [ngClass]="{ grayText : header?.ignore }" nowrap><label>Advanced Graph Application:</label></td>
                            <td [ngClass]="{ grayText : header?.ignore }" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 0">{{g.pattern}}</td>
                        </ng-template>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
</div>