<div class="modal-header">
    <h3 class="modal-title">Node editor</h3>
</div>
<div class="modal-body vbox scrollableContainer">

    <table class="table table-condensed table-borderless">
        <colgroup>
            <col style="width: 1%;">
            <col>
        </colgroup>
        <tbody>
            <tr>
                <td class="text-right"><label>ID:</label></td>
                <td><input id="toFocus" class="form-control input-sm" [(ngModel)]="nodeId" sanitized [disabled]="context.editingNode"></td>
            </tr>
        </tbody>
    </table>

    <converter-config [converter]="context.editingNode?.converter" [rangeType]="context.constrainedRangeType" [constrainedLanguage]="context.constrainedLanguage"
        [constainedDatatype]="context.constainedDatatype" style="margin-top: 4px;" (update)="onConverterUpdate($event)">
    </converter-config>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkEnabled()">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>