<div class="modal-header">
    <h3 class="modal-title">Simple Graph Application</h3>
</div>
<div class="modal-body vbox">

    <table class="table table-condensed table-borderless">
        <colgroup>
            <col style="width: 1%;">
            <col>
        </colgroup>
        <tbody>

            <tr>
                <td class="text-right"><label>Property:</label></td>
                <td>
                    <div class="input-group input-group-sm">
                        <div class="form-control">
                            <rdf-resource *ngIf="property" [resource]="property"></rdf-resource>
                        </div>
                        <div class="input-group-btn">
                            <button class="btn btn-default" (click)="changeProperty()">
                                <img src="../../../assets/images/icons/res/prop.png">
                            </button>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="text-right"><label>Range:</label></td>
                <td>
                    <div class="form-control input-sm" readonly>
                        <ng-container *ngIf="rangeCollection?.length > 0">
                            <rdf-resource *ngFor="let c of rangeCollection" [resource]="c"></rdf-resource>
                        </ng-container>
                        <ng-container *ngIf="rangeCollection?.length == 0">
                            Undetermined
                        </ng-container>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="text-right"><label>Range type:</label></td>
                <td>
                    <select class="form-control input-sm" [(ngModel)]="selectedRangeType" [disabled]="!rangeTypeChangeable">
                        <option *ngFor="let rt of rangeTypes" [ngValue]="rt">{{rt.show}}</option>
                    </select>
                </td>
            </tr>
                
            <tr *ngIf="selectedRangeType?.type == 'resource'">
                <td class="text-right"><label>Type:</label></td>
                <td>
                    <div class="hbox" style="align-items: center;">
                        <div class="input-group input-group-sm" style="flex: 1;">
                            <select class="form-control" [(ngModel)]="assertedType" [disabled]="!assertType">
                                <option *ngFor="let t of assertableTypes" [ngValue]="t">{{t.getShow()}}</option>
                            </select>
                            <div class="input-group-btn">
                                <button class="btn btn-default" (click)="addAssertedType()" [disabled]="!assertType">
                                    <img src="../../../assets/images/icons/res/class.png">
                                </button>
                            </div>
                        </div>
                        <div class="checkbox-inline" style="margin-left: 4px;">
                            <label>
                                <input type="checkbox" [(ngModel)]="assertType">
                                Assert type
                            </label>
                            <span class="glyphicon glyphicon-info-sign"
                                title="Check this option in order to assert the rdf:type of the generated node">
                            </span>
                        </div>
                    </div>
                </td>
            </tr>

            <tr *ngIf="selectedRangeType?.type == 'plainLiteral'">
                <td class="text-right"><label>Lang:</label></td>
                <td><lang-picker [(ngModel)]="language"></lang-picker></td>
            </tr>

            <tr *ngIf="selectedRangeType?.type == 'typedLiteral'">
                <td class="text-right"><label>Datatype:</label></td>
                <td>
                    <datatype-picker [(ngModel)]="datatype" [allowedDatatypes]="allowedDatatypes"></datatype-picker>
                    <!-- <select class="form-control input-sm" [(ngModel)]="datatype">
                        <option *ngFor="let dt of datatypeList" [ngValue]="dt">{{dt.getShow()}}</option>
                    </select> -->
                </td>
            </tr>

            <tr>
                <td class="text-right"><label>Node:</label></td>
                <td>
                    <div class="input-group input-group-sm">
                        <select class="form-control" [(ngModel)]="selectedNode" [disabled]="!isNodeSelectionEnabled()">
                            <option *ngFor="let n of availableNodes" [ngValue]="n">{{getNodeSerialization(n)}}</option>
                        </select>
                        <div class="input-group-btn">
                            <button class="btn btn-default" (click)="addNode()" [disabled]="!isNodeSelectionEnabled()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>


        </tbody>
    </table>

    <div *ngIf="selectedNode && getNodeNotCompliantError()" class="alert alert-danger" style="margin-top: 4px;">
        {{getNodeNotCompliantError()}}
    </div>
    
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkEnabled()">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>