<div class="modal-header">
    <h3 class="modal-title">{{context.title}}</h3>
</div>
<div class="modal-body vbox">
    
    <custom-form [cfId]="context.cfId" [(ngModel)]="formFields"></custom-form>
        
</div>
<div class="modal-footer">
    <span class="pull-left">(*) Mandatory field</span>
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!isInputValid()">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>