<div class="vbox">

     <div class="panel panel-default vbox">

        <div class="panel-body hbox"> 

            <div class="panel panel-default vbox" style="flex: 2;">
                <div class="panel-heading">
                    <label style="flex: 1;">Users:</label>
                    <div class="pull-right">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group btn-group-xs">
                                <button #actBtn class="btn btn-default" [ngClass]="{active: showActive}" (click)="showActive = !showActive"
                                    title="Show/Hide active users" (mouseup)="actBtn.blur()">Active
                                </button>
                                <button #inactBtn class="btn btn-default" [ngClass]="{active: showInactive}" (click)="showInactive = !showInactive"
                                    title="Show/Hide inactive users" (mouseup)="inactBtn.blur()">Inactive
                                </button>
                                <button #newBtn class="btn btn-default" [ngClass]="{active: showNew}" (click)="showNew = !showNew"
                                    title="Show/Hide new users" (mouseup)="newBtn.blur()">New
                                </button>
                            </div>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" (click)="createUser()" title="Create user">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body vbox" style="padding: 0px;">
                    <div class="scrollableContainer">
                        <ng-template ngFor let-u [ngForOf]="users">
                            <div *ngIf="isUserVisible(u)" class="listItem" [ngClass]="{active: u == selectedUser}" (click)="selectUser(u)">
                                <span style="flex: 1">{{u.getShow()}} <span class="grayText">&nbsp;({{u.getEmail()}})</span></span>
                                <span *ngIf="u.isAdmin()" class="glyphicon glyphicon-wrench" style="color: gray; margin-right: 2px;" title="Administrator"></span>
                                <span *ngIf="u.getStatus() == 'NEW'" class="glyphicon glyphicon-exclamation-sign inactive" title="New"></span>
                                <span *ngIf="u.getStatus() == 'INACTIVE'" class="glyphicon glyphicon-ban-circle inactive" title="Inactive"></span>
                                <span *ngIf="u.getStatus() == 'ACTIVE'" class="glyphicon glyphicon-user" 
                                    [ngClass]="{ online: u.isOnline(), offline: !u.isOnline()}" [title]="u.isOnline() ? 'Online' : 'Offline'">
                                </span>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>

            <div class="panel panel-default vbox" style="flex: 5; margin-left: 5px;">
                <div class="panel-heading">
                    <label style="flex: 1;">User Details:</label>
                    <div *ngIf="selectedUser" class="btn-toolbar">
                        <button type="button" class="btn btn-xs btn-default" (click)="changeAdministratorStatus()"
                            [ngClass]="{'active online': selectedUser.isAdmin()}" [disabled]="isChangeAdminButtonDisabled()"
                            [title]="selectedUser.isAdmin() ? 'Revoke administrator authority' : 'Grant administrator authority'">
                            Administrator
                        </button>
                        <div class="btn-group btn-group-xs" role="group">
                            <button type="button" class="btn btn-default" (click)="changeUserStatus()"
                                [ngClass]="{'active': isUserActive(selectedUser)}" style="color: green" [disabled]="isChangeStatusButtonDisabled()">
                                Active
                            </button>
                            <button type="button" class="btn btn-default" (click)="changeUserStatus()"
                                [ngClass]="{'active': !isUserActive(selectedUser)}" style="color: red" [disabled]="isChangeStatusButtonDisabled()">
                                Inactive
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body vbox">
                    <user-details *ngIf="selectedUser" [user]="selectedUser" [readonly]="true"></user-details>
                </div>
                <div class="panel-footer" *ngIf="selectedUser">
                    <button class="btn btn-default btn-xs" (click)="changePassword()" [disabled]="isChangePwdButtonDisabled()">
                        Change password
                    </button>
                    <button class="btn btn-default btn-xs pull-right" (click)="deleteUser()" [disabled]="isDeleteButtonDisabled()">
                        Delete
                    </button>
                </div>
            </div>

         </div>

    </div> 

</div>