<div class="panel panel-default vbox">
    <!-- Commands -->
    <div class="panel-heading">  
        <div *ngIf="editable" class="btn-group btn-group-xs" role="group">
            <!-- <div class="btn-group btn-group-xs" role="group" title="Create Collection">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" [disabled]="isCreateDisabled()">
                    <img src="../../../../../assets/images/icons/actions/skosCollection_create.png" class="panelButtonImg"/>
                </button>
                <ul class="dropdown-menu">
                    <li><a (click)="createRoot('skosCollection')">Collection</a></li>
                    <li><a (click)="createRoot('skosOrderedCollection')">OrderedCollection</a></li>
                </ul>
            </div>
            <div class="btn-group btn-group-xs" role="group" >
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Create a nested Collection" 
                    [disabled]="isCreateChildDisabled()">
                    <img src="../../../../../assets/images/icons/actions/skosCollection_addChild.png" class="panelButtonImg"/>
                </button>
                <ul class="dropdown-menu">
                    <li><a (click)="createChild('skosCollection')">Collection</a></li>
                    <li><a (click)="createChild('skosOrderedCollection')">OrderedCollection</a></li>
                </ul>
            </div>
            <ng-template [ngIf]="deletable">
                <button class="btn btn-default" title="Delete Collection" (click)="delete()" [disabled]="isDeleteDisabled()">
                    <img src="../../../../../assets/images/icons/actions/skosCollection_delete.png" class="panelButtonImg"/>
                </button>
                <button class="btn btn-default" title="Deprecate Collection" (click)="deprecate()" [disabled]="isDeprecateDisabled()">
                    <img src="../../../../../assets/images/icons/actions/skosCollection_deprecate.png" class="panelButtonImg"/>
                </button>
            </ng-template> -->

            <ng-template ngFor let-action [ngForOf]="panelActions">
                <ng-template [ngIf]="isActionVisible(action)">
                    <!-- Simple button -->
                    <button *ngIf="!action.subRoles" class="btn btn-default" [title]="action.title" (click)="executeAction(action)" [disabled]="isActionDisabled(action)">
                        <img [src]="action.icon" class="panelButtonImg"/>
                    </button>
                    <!-- Dropdown button -->
                    <div *ngIf="action.subRoles" class="btn-group btn-group-xs" role="group">
                        <button class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" [title]="action.title" [disabled]="isActionDisabled(action)">
                            <img [src]="action.icon" class="panelButtonImg"/>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a (click)="executeAction(action, action.role)">
                                    {{action.role}}
                                </a>
                            </li>
                            <li *ngFor="let role of action.subRoles">
                                <a (click)="executeAction(action, role)">
                                    {{role}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </ng-template>
            </ng-template>
        </div>
        <div style="flex: 1;"></div>
        <div class="btn-toolbar" role="toolbar">
            <button class="btn btn-default btn-xs" title="Rendering" (click)="rendering=!rendering" [ngClass]="{ active: rendering }">
                <span class="glyphicon glyphicon-font"></span>
            </button>
            <button class="btn btn-default btn-xs" title="Refresh" (click)="refresh()">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
        </div>

        <div class="dropdown pull-right">
            <!-- Disabled when all the options are not available -->
            <button class="dropdown-toggle transparentBtn" data-toggle="dropdown" [disabled]="!allowMultiselection && !isOpenGraphEnabled('dataOriented')">
                <span>&#9662;</span>
            </button>
            <ul class="dropdown-menu">
                <ng-container *ngIf="allowMultiselection">
                    <li>
                        <a (click)="toggleMultiselection()">
                            <span style="flex: 1;">
                                <span class="glyphicon glyphicon-check" style="margin-right: 4px;"></span>
                                Multiselection
                            </span>
                            <span *ngIf="multiselection" class="glyphicon glyphicon-ok pull-right"></span>
                        </a>
                    </li>
                    <li *ngIf="context=='dataPanel' && multiselection" [ngClass]="{ disabled: checkedNodes.length == 0 }">
                        <a (click)="enrichMultiSubject()">
                            <span class="glyphicon glyphicon-check" style="margin-right: 4px; margin-left: 16px;"></span>
                            Add a property value to selected values
                        </a>
                    </li>
                </ng-container>
                <li *ngIf="isOpenGraphEnabled('dataOriented')">
                    <a (click)="openDataGraph()">
                        <img src="../../../../../assets/images/icons/res/ontology.png" style="margin-right: 4px;" width="11px">
                        Show data-oriented graph
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <!-- Tree -->
    <div class="panel-body vbox">
        <collection-tree [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated" [context]="context" [projectCtx]="projectCtx" 
            (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)">
        </collection-tree>
    </div>

    <!-- Search -->
    <div *ngIf="!hideSearch" class="panel-footer">
        <search-bar (search)="doSearch($event)" (advancedSearch)="advancedSearch($event)" [roles]="[panelRole]" [context]="context" [projectCtx]="projectCtx"></search-bar>
    </div>
    
</div>