<div class="panel panel-default vbox">
    <!-- Commands -->
    <div class="panel-heading">
        <div *ngIf="editable" class="btn-group btn-group-xs" role="group" style="margin-right: 4px;">
            <!-- <button class="btn btn-default" title="Create Class" (click)="createRoot()" [disabled]="isCreateDisabled()">
                <img src="../../../../assets/images/icons/actions/cls_create.png" class="panelButtonImg"/>
            </button>
            <button class="btn btn-default" title="Create SubClass" (click)="createChild()" [disabled]="isCreateChildDisabled()">
                <img src="../../../../assets/images/icons/actions/cls_addChild.png" class="panelButtonImg"/>
            </button>
            <ng-template [ngIf]="deletable">
                <button class="btn btn-default" title="Delete Class" (click)="delete()" [disabled]="isDeleteDisabled()">
                    <img src="../../../../assets/images/icons/actions/cls_delete.png" class="panelButtonImg"/>
                </button>
                <button class="btn btn-default" title="Deprecate Class" (click)="deprecate()" [disabled]="isDeprecateDisabled()">
                    <img src="../../../../assets/images/icons/actions/cls_deprecate.png" class="panelButtonImg"/>
                </button>
            </ng-template> -->

            <ng-template ngFor let-action [ngForOf]="panelActions">
                <button *ngIf="isActionVisible(action)" class="btn btn-default" [title]="action.title" (click)="executeAction(action)" [disabled]="isActionDisabled(action)">
                    <img [src]="action.icon" class="panelButtonImg"/>
                </button>
            </ng-template>
        </div>
        <div style="flex: 1"></div>

        <div class="btn-toolbar" role="toolbar">
            <button class="btn btn-default btn-xs" title="Rendering" (click)="rendering=!rendering" [ngClass]="{ active: rendering }">
                <span class="glyphicon glyphicon-font"></span>
            </button>
            <button class="btn btn-default btn-xs" title="Refresh" (click)="refresh()">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
            <button *ngIf="isOpenSettingsAvailable()" class="btn btn-default btn-xs" title="Settings" (click)="settings()">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
        </div>

        <div class="dropdown pull-right">
            <!-- Disabled when all the options are not available -->
            <button class="dropdown-toggle transparentBtn" data-toggle="dropdown" 
                [disabled]="!allowMultiselection && !isOpenGraphEnabled() && isContextDataPanel()">
                <span>&#9662;</span>
            </button>
            <ul class="dropdown-menu">
                <li *ngIf="!isContextDataPanel()">
                    <a (click)="filterEnabled = !filterEnabled">
                        <span style="flex: 1;">
                            <span class="glyphicon glyphicon-filter" style="margin-right: 4px;"></span>
                            SubClass filter
                        </span>
                        <span *ngIf="filterEnabled" class="glyphicon glyphicon-ok pull-right"></span>
                    </a>
                </li>
                <ng-container *ngIf="allowMultiselection">
                    <li>
                        <a (click)="toggleMultiselection()">
                            <span style="flex: 1;">
                                <span class="glyphicon glyphicon-check" style="margin-right: 4px;"></span>
                                Multiselection
                            </span>
                            <span *ngIf="multiselection" class="glyphicon glyphicon-ok pull-right"></span>
                        </a>
                    </li>
                    <li *ngIf="context=='dataPanel' && multiselection" [ngClass]="{ disabled: checkedNodes.length == 0 }">
                        <a (click)="enrichMultiSubject()">
                            <span class="glyphicon glyphicon-check" style="margin-right: 4px; margin-left: 16px;"></span>
                            Add a property value to selected values
                        </a>
                    </li>
                </ng-container>
                <ng-template [ngIf]="isOpenGraphEnabled()">
                    <li *ngIf="isOpenGraphEnabled('modelOriented')">
                        <a (click)="openModelGraph()">
                            <img src="../../../../assets/images/icons/res/ontology.png" style="margin-right: 4px;" width="11px">
                            Show model-oriented graph
                        </a>
                    </li>
                    <li *ngIf="isOpenIncrementalModelGraphEnabled()">
                        <a (click)="openIncrementalGraph()">
                            <img src="../../../../assets/images/icons/res/ontology.png" style="margin-right: 4px;" width="11px">
                            Show model-oriented graph rooted on the selected node
                        </a>
                    </li>
                    <li *ngIf="isOpenGraphEnabled('dataOriented')">
                        <a (click)="openDataGraph()">
                            <img src="../../../../assets/images/icons/res/ontology.png" style="margin-right: 4px;" width="11px">
                            Show data-oriented graph
                        </a>
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>
    
    <!-- Tree -->
    <div class="panel-body vbox">
        <class-tree [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated" [filterEnabled]="filterEnabled" 
            [roots]="roots" [context]="context" [projectCtx]="projectCtx"
            (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)"></class-tree>
    </div>

    <!-- Search -->
    <div *ngIf="!hideSearch" class="panel-footer">
        <search-bar (search)="doSearch($event)" [roles]="[panelRole]" [context]="context"></search-bar>
    </div>
    
</div>