<div class="modal-header">
    <h3 class="modal-title">
        Collaboration System projects
    </h3>
</div>
<div class="modal-body blockingDivHost">

    <div class="panel panel-default">
        <div class="panel-heading">
            <label style="flex: 1">Projects:</label>
            <button class="btn btn-xs btn-default" (click)="createProject()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        <div class="panel-body scrollableContainer" style="min-height: 70px;">
            <table class="table table-condensed table-borderless table-hoverable">
                <thead>
                    <tr>
                        <th *ngFor="let h of headers" class="text-center">{{h}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of projects" (click)="selectProject(p)" [ngClass]="{ active : p == selectedProject }">
                        <td *ngFor="let h of headers" class="text-center">{{p[h]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div #blockDiv class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="../../../assets/images/loading.gif" />
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!selectedProject">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>