<div class="panel panel-default vbox" style="flex: 1; margin-left: 4px;">
    <div class="panel-heading">
        <label>Dataset description:</label>
    </div>

    <div class="panel-body hbox">

        <div class="panel panel-default vbox" style="flex: 2;">
            <div class="panel-body vbox">
                <div class="table-responsive" style="flex: 1;">
                    <table class="table table-condensed">
                        <tbody>
                            <tr>
                                <td style="vertical-align: top;"><label>ID</label></td>
                                <td>{{dataset.id}}</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;"><label>Title</label></td>
                                <td>
                                    <div *ngFor="let t of dataset.titles" style="margin-bottom: 4px;">{{t.getValue()}} @{{t.getLang()}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;"><label>Description</label></td>
                                <td>
                                    <div *ngFor="let d of dataset.descriptions" style="margin-bottom: 4px;">
                                        {{d.getValue()}} @{{d.getLang()}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;" nowrap><label>Dataset page</label></td>
                                <td><a [href]="dataset.datasetPage" target="_blank">{{dataset.datasetPage}}</a></td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;" nowrap><label>Ontology IRI</label></td>
                                <td>
                                    <a *ngIf="dataset.ontologyIRI" [href]="dataset.ontologyIRI.getURI()" target="_blank">
                                        {{dataset.ontologyIRI.getURI()}}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;" nowrap><label>Data dumps</label></td>
                                <td>
                                    <div *ngFor="let dump of dataset.dataDumps" style="margin-bottom: 4px;">
                                        <a [href]="dump.accessURL" target="_blank" [title]="dump.getPreferredTitle()?.toNT()">{{dump.accessURL}}</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;" nowrap><label>URI prefix</label></td>
                                <td>{{dataset.uriPrefix}}</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;" nowrap><label>SPARQL Endpoint</label></td>
                                <td>{{dataset.sparqlEndpoint}}</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;"><label>Model</label></td>
                                <td>{{dataset.model}}</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;" nowrap><label>Lexicalization Model</label></td>
                                <td>{{dataset.lexicalizationModel}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div *ngIf="getFacetsKeys().length != 0" class="vbox scrollableContainer" style="padding: 0px; margin-left: 4px; max-width: 200px;">
            <div *ngFor="let key of getFacetsKeys()" class="subPanel vbox">
                <div class="subPanel-heading"><label>{{key}}</label></div>
                <div class="subPanel-body scrollableContainer" style="flex: 1;">
                    <div *ngFor="let value of dataset.facets[key]" style="margin-bottom: 3px;">
                        <span class="label label-default" style="font-size: 11px;">{{value}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>