<div class="modal-header">
    <h3 class="modal-title text-info">Alignment validation settings</h3>
</div>
<div class="modal-body vbox">
    
    <div class="hbox" style="align-items: center; flex: initial; margin-bottom: 5px;">
        <span class="glyphicon glyphicon-info-sign" style="top: 0"
            title="Specifies what to do with the rejected alignment when applyng the validation to the ontology"></span>
        <label style="white-space: nowrap; margin: 0px 3px;">Rejected alignment action:</label>
        <select class="form-control input-sm" style="display: inline-block" [(ngModel)]="rejectedAlignmentAction">
            <option *ngFor="let opt of rejectedAlignmentOptions" [value]="opt.value">{{opt.label}}</option>
        </select>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <label>Relation meter aspect</label>
        </div>
        <div class="panel-body">
            <div class="panel panel-default" style="margin-bottom: 5px;">
                <div class="panel-body">
                    <div>Show relation as:</div>
                    <div style="margin: 5px 0px 0px 5px">
                        <div class="radio" *ngFor="let opt of showRelationOptions" style="margin: 0px;">
                            <label>
                                <input #relRadio type="radio" name="relRadio" [value]="opt.value" (click)="showRelationType=relRadio.value"
                                    [checked]="showRelationType==relRadio.value">{{opt.label}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="hbox" style="align-items: center">
                <span style="margin-right: 3px;">Show confidence on meter</span>
                <input type="checkbox" [(ngModel)]="confOnMeterCheck">
            </div>
        </div>
    </div>
    
    <div class="hbox" style="align-items: center; flex: initial; margin-top: 5px">
        <label style="white-space: nowrap; margin-right: 3px;">Maximum number of alignments shown (1&#247;100):</label>
        <input class="form-control input-sm" type="number" step="1" [(ngModel)]="maxAlignment"
            [ngClass]="{submitted: submitted, 'ng-invalid': maxAlignment < 1 || maxAlignment > 100 }">
    </div>
        
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>