<div class="modal-header">
    <h3 class="modal-title">Custom Range Editor</h3>
</div>
<div class="modal-body vbox" style="min-height: 50vh;">
    
    <div class="hbox" style="align-items: center; flex: initial;">
        <label style="white-space: nowrap; margin: 0px 3px;">Form Collection ID:</label>
        <div class="input-group input-group-xs" style="flex: 1">
            <ng-template [ngIf]="namespaceLocked">
                <span class="input-group-addon" style="padding-right: 5px;">
                    {{fcPrefix}}
                </span>
                <input type="text" class="form-control" [(ngModel)]="fcShortId" [disabled]="mode == 'edit'" sanitized>
            </ng-template>
            
            <ng-template [ngIf]="!namespaceLocked">
                <input type="text" class="form-control" [(ngModel)]="fcId" [disabled]="mode == 'edit'" sanitized>
            </ng-template>
            
            <div class="input-group-btn">
                <button class="btn btn-default" style="width:30px; padding: 1px 3px;" (click)="unlockNamespace()"
                    title="Lock/Unlock namespace" [ngClass]="{active: namespaceLocked}" [disabled]="mode == 'edit'">
                    <span class="glyphicon glyphicon-lock" style="font-size: 10px;"></span>
                </button>
            </div>
        </div>
    </div>
    
    <div class="hbox" style="margin: 10px 0 10px;">
        <div class="panel panel-default vbox">
            <div class="panel-heading">
                <label style="flex: 1">Custom Forms:</label>
            </div>
            <div class="panel-body vbox">
                <div class="scrollableContainer">
                    <table class="table table-condensed table-borderless table-hoverable" style="table-layout: fixed">
                        <tbody>
                            <tr *ngFor="let cForm of forms" (click)="selectForm(cForm)"
                                [ngClass]="{active: cForm == selectedForm, grayText: cForm.getLevel() == 'system'}">
                                <td>{{cForm.getId()}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div style="align-self: center; margin: 5px;">
            <button class="btn btn-default btn-sm btn-block" (click)="addForm()" [disabled]="!selectedFormAvailable" [disabled]="context.readOnly">
                <span class="glyphicon glyphicon-chevron-left"></span>Add
            </button>
            <button class="btn btn-default btn-sm btn-block" (click)="removeForm()" [disabled]="!selectedForm || context.readOnly">
                Remove<span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
        
        <div class="panel panel-default vbox">
            <div class="panel-heading">
                <label style="flex: 1">Available Custom Forms:</label>
            </div>
            <div class="panel-body vbox">
                <div class="scrollableContainer">
                    <table class="table table-condensed table-borderless table-hoverable" style="table-layout: fixed">
                        <tbody>
                            <tr *ngFor="let cForm of formsAvailable" (click)="selectFormAvailable(cForm)"
                                [ngClass]="{active: cForm == selectedFormAvailable, grayText: cForm.getLevel() == 'system'}">
                                <td>{{cForm.getId()}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default vbox" style="min-height: 100px;">
        <div class="panel-heading">
            <label style="flex: 1">
                Suggestions:
                <span class="" title="Property/Classes suggested to use with this FormCollection"></span>
            </label>
            <div class="btn-group btn-group-xs" role="group">
                <div class="btn-group btn-group-xs" role="group" title="Add suggestion">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" [disabled]="context.readOnly">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a (click)="addSuggestionClass()">
                                <img src="../../../assets/images/icons/actions/cls_create.png" /> Select class
                            </a>
                        </li>
                        <li>
                            <a (click)="addSuggestionProperty()">
                                <img src="../../../assets/images/icons/actions/property_create.png" /> Select property
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="btn btn-default" title="Remove suggestion" (click)="removeSuggestion()"
                    [disabled]="!selectedSuggestion || context.readOnly">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
            </div>
        </div>
        <div class="panel-body vbox">
            <resource-list [resources]="suggestions" (nodeSelected)="selectSuggestion($event)"></resource-list>
        </div>
    </div>
    
</div>
<div class="modal-footer">
    <div class="hbox">
        <div class="hbox" style="align-items: center; margin-right: 10px;">
            <div *ngIf="submitted && !isDataValid()" class="alert alert-danger" style="flex: 1; text-align: left; padding: 5px">
                {{errorMsg}}
            </div>
        </div>
        <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="context.readOnly">Ok</button>
        <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
    </div>
</div>