<div class="modal-header">
    <h3 class="modal-title">Create Resource - FormCollection mapping</h3>
</div>
<div class="modal-body vbox" style="min-height: 40vh;">
    
    <div style="display: flex; margin-bottom: 4px; align-items: center;">
        <label>Resource:</label>
        <div class="form-control input-sm" style="margin: 0px 4px;">
            <rdf-resource *ngIf="selectedResource" [resource]="selectedResource"></rdf-resource>
        </div>
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                Select
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a (click)="selectClass()">
                        <img src="../../../assets/images/icons/res/class.png" /> Select class
                    </a>
                </li>
                <li>
                    <a (click)="selectProperty()">
                        <img src="../../../assets/images/icons/res/prop.png" /> Select property
                    </a>
                </li>
                <li *ngIf="selectedFormColl">
                    <a (click)="selectSuggested()">
                        <span class="glyphicon glyphicon-star" style="width: 16px; padding-left: 3px;"></span>
                        Select suggested for FormCollection
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="panel panel-default vbox">
        <div class="panel-heading">
            <label style="flex: 1">Form Collection:</label>
        </div>
        <div class="panel-body vbox">
            <div class="scrollableContainer">
                <table class="table table-condensed table-borderless table-hoverable">
                    <tbody>
                        <tr *ngFor="let fc of formCollectionList" (click)="selectFormColl(fc)"
                            [ngClass]="{active: fc == selectedFormColl, grayText: fc.getLevel() == 'system'}">
                            <td>{{fc.getId()}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!selectedResource || !selectedFormColl">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>