<table class="table table-condensed table-borderless table-hoverable">
    <colgroup>
        <col style="width: 1%;">
        <col>
        <col style="width: 1%;">
    </colgroup>
    <tbody>
        <tr *ngFor="let p of settings?.properties">
            <td nowrap>
                {{p.displayName}}
                <span *ngIf="p.required">*</span>
            </td>
            <td>

                <select *ngIf="p.enumeration; else notEnumerationBlock" class="form-control input-sm" [(ngModel)]="p.value" (ngModelChange)="onModelChanged()">
                    <option *ngFor="let enum of p.enumeration" [value]="enum">{{enum}}</option>
                </select>

                <ng-template #notEnumerationBlock>
                    <div [ngSwitch]="p.type.name">
                        <div *ngSwitchCase="'boolean'" class="input-sm form-control text-center">
                            <label class="radio-inline">
                                <input type="radio" (click)="updateBoolean(p, true)" [name]="'radio_'+p.name" [checked]="p.value==true">true
                            </label>
                            <label class="radio-inline">
                                <input type="radio" (click)="updateBoolean(p, false)" [name]="'radio_'+p.name" [checked]="p.value==false">false
                            </label>
                        </div>

                        <resource-picker *ngSwitchCase="'IRI'" [resource]="p.value" [roles]="getIRIRoleConstraints(p)" [editable]="true"
                            (resourceChanged)="updateValue(p, $event)">
                        </resource-picker>

                        <resource-picker *ngSwitchCase="'Resource'" [resource]="p.value" [roles]="getIRIRoleConstraints(p)" [editable]="true"
                            (resourceChanged)="updateValue(p, $event)">
                        </resource-picker>

                        <value-picker *ngSwitchCase="'RDFValue'" [value]="p.value" [editable]="true" (valueChanged)="updateValue(p, $event)">
                        </value-picker>

                        <literal-picker *ngSwitchCase="'Literal'" [literal]="p.value" (literalChanged)="updateValue(p, $event)">
                        </literal-picker>

                        <setting-set *ngSwitchCase="'Set'" [value]="p.value" [types]="p.type.typeArguments" (valueChanged)="updateSetValue(p, $event)"></setting-set>

                        <setting-map *ngSwitchCase="'Map'" [value]="p.value" [types]="p.type.typeArguments" (valueChanged)="updateMapValue(p, $event)"></setting-map>

                        <textarea *ngSwitchCase="'java.lang.String'" type="text" rows="1" class="form-control input-sm" style="resize: vertical" [(ngModel)]="p.value">
                        </textarea>

                        <input *ngSwitchCase="'int'" type="number" class="form-control input-sm" step="1" [(ngModel)]="p.value">

                        <div *ngSwitchDefault class="hbox" style="align-items: center; position: relative;">
                            <textarea *ngSwitchDefault type="text" rows="1" class="form-control input-sm" 
                                style="resize: vertical;" [(ngModel)]="p.value">
                            </textarea>
                            <span class="glyphicon glyphicon-warning-sign" style="position: absolute; top: 8px; right: 8px;"
                                [title]="'This parameter has an unknown type (' + p.type.name + '). The entered value will be interpreted as a low-level JSON value.'">
                            </span>
                        </div>
                    </div>
                </ng-template>

            </td>
            <td>
                <span class="glyphicon glyphicon-info-sign" style="margin-left: 3px" [title]="p.description"></span>
            </td>
        </tr>
    </tbody>
</table>