<div class="panel panel-default vbox">
    <div class="panel-heading">
        <label style="flex: 1;">Export data:</label>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group btn-group-xs">
                <button class="btn btn-default" title="Save export configuration" (click)="saveChain()">
                    <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
                <button class="btn btn-default" title="Load export configuration" (click)="loadChain()">
                    <span class="glyphicon glyphicon-floppy-open"></span>
                </button>
            </div>
        </div>
    </div>
    
    <div class="panel-body vbox">

        <div class="subPanel vbox" style="min-height: 150px;">
            <div class="subPanel-heading">
                <label style="flex: 1">
                    Graphs to export
                </label>
                <span *ngIf="areAllGraphDeselected()" class="grayText">
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    If no graph is selected, all named graphs will be exported
                </span>
            </div>
            <div class="subPanel-body scrollableContainer">
                <div *ngFor="let g of exportGraphs" class="listItem" style="align-items: center">
                    <input type="checkbox" [(ngModel)]="g.checked" (ngModelChange)="onGraphSelectionChange(g)">
                    <span style="margin-left: 5px;">{{g.graph.getURI()}}</span>
                </div>
            </div>
        </div>

        <div class="subPanel vbox" style="flex: 2">
            <div class="subPanel-heading">
                <label style="flex: 1">Export transformations:</label>

                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group btn-group-xs">
                        <button class="btn btn-default" title="Add filter" (click)="appendFilter()">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button class="btn btn-default" title="Remove filter" (click)="removeFilter()"
                            [disabled]="filtersChain.length == 0 || !selectedFilterChainElement">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                        <button class="btn btn-default" title="Move down"  (click)="moveFilterDown()"
                            [disabled]="isSelectedFilterLast() || !selectedFilterChainElement">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <button class="btn btn-default" title="Move up" (click)="moveFilterUp()"
                            [disabled]="isSelectedFilterFirst() || !selectedFilterChainElement">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="subPanel-body scrollableContainer">
                <div class="alert alert-info alert-dismissible" role="alert" style="margin-bottom: 5px;">
                    Here it is possible to create and configure a sequence of transformations to be applied during the export process.
                    Each transformer is applied to a subset of the exported graphs. No graph means every exported graph.
                    <button class="close" data-dismiss="alert"><span>&times;</span></button>
                </div>
                <table class="table table-condensed table-hoverable">
                    <colgroup>
                        <col style="width: 2%">
                        <col>
                        <col style="width: 2%">
                    </colgroup>
                    <tbody>
                        <tr *ngFor="let filterChainEl of filtersChain; let l = last; let f = first; let idx = index" 
                            [ngClass]="{active: filterChainEl == selectedFilterChainElement}" (click)="selectFilterChainElement(filterChainEl)">
                            <td class="text-center" style="font-size: 11px; font-weight: 700;">{{idx+1}}</td>
                            <td class="hbox">
                                <extension-configurator [extensions]="filterChainEl.availableFactories"
                                    (extensionUpdated)="onExtensionUpdated(filterChainEl, $event)"
                                    (configurationUpdated)="onConfigurationUpdated(filterChainEl, $event)" 
                                    (configStatusUpdated)="onConfigStatusUpdated(filterChainEl, $event)"
                                    style="flex: 1;">
                                </extension-configurator>
                                <button class="btn btn-default" (click)="configureGraphs(filterChainEl)" style="margin-left: 4px;">Graphs</button>
                            </td>
                            <td class="text-center" style="font-size: 14px;">
                                <span *ngIf="requireConfiguration(filterChainEl)" class="glyphicon glyphicon-warning-sign"
                                    title="This filter needs to be configured"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="subPanel">
            <div class="subPanel-heading">
                <label style="margin-right: 8px">Deployment:</label>
                <select class="form-control input-xs" style="width: initial" [(ngModel)]="selectedDeployment">
                    <option *ngFor="let depOpt of deploymentOptions" [ngValue]="depOpt">{{depOpt.label}}</option>
                </select>
            </div>
            <div class="subPanel-body">
                <table class="table table-condensed table-borderless">
                    <colgroup>
                        <col style="width: 80px">
                        <col>
                    </colgroup>
                    <!-- When a deployer source is specified (so a deployer is used) -->
                    <tr *ngIf="useDeployer()">
                        <td><label>Deployer:</label></td>
                        <td>
                            <div class="hbox" style="align-items: center">
                                <ng-template [ngIf]="selectedDeployment.source == 'repository'">
                                    <extension-configurator #deployerConfigurator *ngIf="repoSourcedDeployer" [extensions]="repoSourcedDeployer"
                                        (extensionUpdated)="selectedDeployerExtension = $event"
                                        (configurationUpdated)="onDeployerConfigUpdated($event)"
                                        (configStatusUpdated)="onDeployerConfigStatusUpdated($event)"
                                        style="flex: 1;">
                                    </extension-configurator>
                                </ng-template>
                                <ng-template [ngIf]="selectedDeployment.source == 'stream'">
                                    <extension-configurator #deployerConfigurator *ngIf="streamSourcedDeployer" [extensions]="streamSourcedDeployer"
                                        (extensionUpdated)="selectedDeployerExtension = $event"
                                        (configurationUpdated)="onDeployerConfigUpdated($event)"
                                        (configStatusUpdated)="onDeployerConfigStatusUpdated($event)"
                                        style="flex: 1;">
                                    </extension-configurator>
                                </ng-template>
                                <div *ngIf="requireConfigurationDeployer()" style="font-size: 14px; margin-left: 4px;">
                                    <span class="glyphicon glyphicon-warning-sign" title="Configuration required"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- Reformatter available only when not using a deployer, or when using a stream-source deployer -->
                    <tr *ngIf="useReformatter()">
                        <td><label>Reformatter:</label></td>
                        <td>
                            <div class="hbox" style="align-items: center">
                                <extension-configurator #reformatterConfigurator *ngIf="reformatters" [extensions]="reformatters"
                                    (extensionUpdated)="onReformatterExtensionUpdated($event)"
                                    (configurationUpdated)="onReformatterConfigUpdated($event)"
                                    (configStatusUpdated)="onReformatterConfigStatusUpdated($event)"
                                    style="flex: 1;">
                                </extension-configurator>

                                <div *ngIf="requireConfigurationFormatter()" style="font-size: 14px; margin-left: 4px;">
                                    <span class="glyphicon glyphicon-warning-sign" title="Configuration required"></span>
                                </div>
        
                                <div class="hbox" style="align-items: center; flex: initial; margin-left: 8px;">
                                    <label style="white-space: nowrap; margin-right: 4px;">Export Format:</label>
                                    <select class="form-control input-sm" [(ngModel)]="selectedExportFormat">
                                        <option *ngFor="let f of exportFormats" [ngValue]="f">{{f.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    
    <div class="panel-footer">
        <div class="pull-right">
            <div class="checkbox" style="display: inline-block; margin: 0 20px 0 0;">
                <label><input type="checkbox" [(ngModel)]="includeInferred">Include inferred</label>
            </div>
            <button type="submit" class="btn btn-default btn-sm" (click)="export()">Submit</button>
        </div>
        <span class="clearfix"></span> <!--To fix UI bug-->
    </div>
</div>