<div class="modal-header">
    <h3 class="modal-title">
        Configuration of '{{config.shortName}}'
    </h3>
</div>
<div class="modal-body vbox">

    <settings-renderer-panel class="vbox" [(ngModel)]="config"></settings-renderer-panel>

</div>
<div class="modal-footer">
    <span class="pull-left">(*) Mandatory field</span>
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!isOkClickable()">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>