<div class="modal-header">
    <h3 class="modal-title text-info">{{context.title}}</h3>
</div>
<div class="modal-body">
    <div class="alert alert-info" *ngIf="context.message">
        {{context.message}}
    </div>
    <div style="margin-top: 5px;">
        <select *ngIf="!context.optionsWithDescription" class="form-control" style="padding: 5px;" [(ngModel)]="optionSelected" [size]="size">
            <option *ngFor="let o of context.options" style="font-size: 13px;" [value]="o">{{o}}</option>
        </select>
        
        <select *ngIf="context.optionsWithDescription" class="form-control" style="padding: 5px;" [(ngModel)]="optionSelected" [size]="size">
            <option *ngFor="let o of context.options" style="font-size: 13px;" [value]="o.value"
                [title]="o.description">{{o.value}}</option>
        </select>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!optionSelected">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>