<div class="panel panel-default vbox">

    <div class="panel-heading" style="display: flex;">
        <label style="flex: 1">Alignments:</label>
        <button class="btn btn-default btn-xs" style="margin-right: 4px;" [ngClass]="{active: rendering}" title="Rendering"
            (click)="toggleRendering()">
            <span class="glyphicon glyphicon-font"></span>
        </button>
        <button class="btn btn-default btn-xs" (click)="openSettings()">
            Settings <span class="glyphicon glyphicon-cog"></span>
        </button>
    </div>

    <div class="panel-body vbox scrollableContainer">
        
        <div class="scrollableContainer" style="border: 1px solid #ddd">
            <table class="table table-condensed table-hoverable">
                <thead>
                    <tr>
                        <th class="text-center">Source entity</th>
                        <th class="text-center">target entity</th>
                        <th class="text-center">Relation</th>
                        <th class="text-center">Mapping Property</th>
                        <th class="text-center" style="width: 1%">Action</th>
                        <th class="text-center" style="width: 1%">Status</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let a of alignmentCellList; let i=index;">
                        <td>
                            <span class="clickable" (click)="openResView(a.getEntity1())">
                                <rdf-resource [resource]="a.getEntity1()" [rendering]="rendering"></rdf-resource>
                            </span>
                        </td>
                        <td>
                            <span class="clickable" (click)="openResView(a.getEntity2(), true)">
                                <rdf-resource [resource]="a.getEntity2()" [rendering]="rendering"></rdf-resource>
                            </span>
                        </td>
                        <td style="position: relative"
                            (mouseover)="editRel.style.display='initial'" (mouseout)="editRel.style.display='none'">
                            <div class="progress" [ngClass]="{ 'large-progress' : unknownRelation }" style="min-width: 100px;">
                                <div class="progress-bar progress-bar-success" role="progressbar" [ngStyle]="{'width': a.getMeasure()*100+'%'}">
                                    <span class="progress-value" [title]="a.getRelation()+' ('+a.getMeasure()+')'">
                                        {{getRelationRendered(a)}}
                                    </span>
                                </div>
                            </div>
                            <div #editRel class="btn-group" style="position: absolute; top: 0; right: 0; display: none;">
                                <button class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li *ngFor="let rel of relationSymbols">
                                        <a (click)="changeRelation(a, rel.relation)">
                                            <div class="hbox">
                                                <span style="flex:1">{{rel.relation}}</span>
                                                <span *ngIf="a.getRelation() == rel.relation" style="margin-left: 3px;" class="glyphicon glyphicon-ok pull-right"></span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <span *ngIf="a.getMappingProperty()">
                                <div class="btn-group" [ngClass]="{ dropup : i > alignmentCellList.length/2 }">
                                    <button class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown"
                                        (click)="getSuggestedMappingProperties(a)">
                                        {{a.getMappingProperty().getShow()}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li *ngFor="let sp of a.getSuggestedMappingProperties()" style="position: relative;">
                                            <a (click)="changeMappingProperty(a, sp)" style="margin-right: 18px;">{{sp.getShow()}}</a>
                                            <span *ngIf="sp.getShow() == a.getMappingProperty().getShow()" 
                                                class="glyphicon glyphicon-ok pull-right" style="position: absolute; right: 4px;">
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </span>
                        </td>
                        <td>
                            <span style="white-space: nowrap">
                                <button class="btn btn-success btn-xs" (click)="acceptAlignment(a)">
                                    Accept <span class="glyphicon glyphicon-ok-sign"></span>
                                </button>
                                <button class="btn btn-danger btn-xs" (click)="rejectAlignment(a)">
                                    Reject <span class="glyphicon glyphicon-remove-sign"></span>
                                </button>
                            </span>
                        </td>
                        <td style="font-size: 14px;">
                            <span *ngIf="a.getStatus() == 'accepted'" class="glyphicon glyphicon-ok" style="color: #5cb85c"></span>
                            <span *ngIf="a.getStatus() == 'rejected'" class="glyphicon glyphicon-remove" style="color: #d9534f"></span>
                            <span *ngIf="a.getStatus() == 'error'" class="glyphicon glyphicon-warning-sign" style="color: #f0ad4e"
                                [title]="a.getComment()"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="totPage && totPage != 1">
            <div class="btn-group btn-group-xs pull-right" style="margin-top: 4px;" role="group">
                <button class="btn btn-default" title="Previous page" (click)="prevPage()" [disabled]="page==0">
                    <span class="glyphicon glyphicon-triangle-left"></span>
                    <!--&laquo;-->
                </button>
                <button class="btn btn-default" style="cursor: auto" disabled>
                    <span>{{page+1}} of {{totPage}}</span>
                </button>
                <button class="btn btn-default" title="Next page" (click)="nextPage()" [disabled]="page==totPage-1">
                    <span class="glyphicon glyphicon-triangle-right"></span>
                    <!--&raquo;-->
                </button>
            </div>
        </div>
    </div>
    
    <div class="panel-footer">
        <span>
            <label>Quick Actions:</label>
            
            <select class="form-control input-xs" style="width: auto; display: inline-block" [(ngModel)]="chosenQuickAction"
                [disabled]="alignmentCellList.length == 0">
                <option *ngFor="let qa of quickActionList">{{qa}}</option>
            </select>
            <input *ngIf="chosenQuickAction.includes('threshold')"
                class="form-control input-xs" style="width: auto; display: inline-block"
                type="number" min="0" max="1" step="0.01" [(ngModel)]="threshold">
            <button class="btn btn-default btn-xs" [disabled]="chosenQuickAction=='---'" (click)="doQuickAction()">
                Do quick action
            </button>
        </span>
        <span class="pull-right">
            <button class="btn btn-default btn-xs" (click)="applyToOnto()" [disabled]="alignmentCellList.length == 0">
                Apply to Ontology
            </button>
            <button class="btn btn-default btn-xs" (click)="export()" [disabled]="alignmentCellList.length == 0">
                Export as...
            </button>
        </span>
    </div>
    
</div>