<div class="panel panel-default vbox">
    <div class="panel-body vbox">

        <div #scrollableContainer class="scrollableContainer" (scroll)="onScroll()">
            <ng-template ngFor let-r [ngForOf]="roots" let-idx="index">
                <concept-tree-node *ngIf="idx < rootLimit && (!r.isDeprecated() || showDeprecated && r.isDeprecated())"
                    [node]="r" [projectCtx]="projectCtx" [schemes]="schemes" [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated" [context]="context"
                    (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)" (nodeExpandStart)="onNodeExpandStart()" (nodeExpandEnd)="onNodeExpandEnd()">
                </concept-tree-node>
            </ng-template>
        </div>

        <div #blockDivTree class="blockingDiv" style="display:none">
            <div class="loadingDiv">
                <div>
                    <p>Loading...</p><img src="../../../../../assets/images/loading.gif" />
                </div>
            </div>
        </div>

    </div>
</div>