<div class="modal-header">
    <h3 class="modal-title">Andvanced search</h3>
</div>
<div class="modal-body scrollableContainer blockingDivHost" style="padding: 8px;">

    <table class="table table-condensed table-borderless">
        <colgroup>
            <col style="width: 1%">
            <col>
        </colgroup>
        <tbody>
            <tr>
                <td nowrap><label class="control-label">Search string:</label></td>
                <td><input class="form-control input-sm" [(ngModel)]="searchString"></td>
            </tr>
            <tr>
                <td><label class="control-label">Status:</label></td>
                <td>
                    <select class="form-control input-sm" [(ngModel)]="selectedStatus">
                        <option *ngFor="let s of statuses" [value]="s.value">{{s.show}}</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="panel panel-default" style="margin-top: 5px;">
        <div class="panel-heading">
            <label>Search mode</label>
        </div>
        <div class="panel-body">
            <div class="hbox" style="align-items: center;">
                <label class="control-label" style="white-space: nowrap; margin-right: 4px;">String match mode:</label>
                <select class="form-control input-xs" [(ngModel)]="activeSearchMode">
                    <option *ngFor="let sm of searchModes" [value]="sm.value">{{sm.show}}</option>
                </select>
            </div>
            <div style="margin-top: 6px">
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" [(ngModel)]="useURI">Search in URI
                    </label>
                </div>
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" [(ngModel)]="useLocalName">Search in local name
                    </label>
                </div>
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" [(ngModel)]="useNotes">Search in notes
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" style="margin-top: 5px;">
        <div class="panel-heading">
            <label>Lexicalization</label>
        </div>
        <div class="panel-body">
            <div class="hbox">
                <div class="checkbox" style="margin: 5px 0px 0px">
                    <label>
                        <input type="checkbox" [(ngModel)]="restrictLang">Restrict search to languages
                    </label>
                </div>
                <div class="hbox" style="align-items: center; margin-left: 8px;">
                    <div class="input-group input-group-xs">
                        <input type="text" class="form-control" [ngModel]="languages" [disabled]="!restrictLang" readonly>
                        <span class="input-group-btn">
                            <button class="btn btn-default" (click)="selectRestrictionLanguages()" placeholder="Select languages" [disabled]="!restrictLang">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="checkbox" style="margin: 5px 0px 0px">
                <label>
                    <input type="checkbox" [(ngModel)]="includeLocales" [disabled]="!restrictLang">Include locales in search (e.g. en-GB, en-US)
                </label>
            </div>
        </div>
    </div>

    <!-- Types -->
    <div class="panel panel-default" style="margin-top: 5px;">
        <div class="panel-heading">
            <label style="flex: 1;">Types</label>
            <div class="btn-group btn-group-xs">
                <button class="btn btn-default" (click)="addTypesGroup()" title="Add group">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
        <div class="panel-body">
            <div *ngFor="let group of typesGroups; let lastGroup = last; let indexGroup = index">
                <div class="hbox" style="align-items: center; margin: 2px 0;">
                    <div class="hbox tile-group">
                        <div *ngFor="let t of group; let indexType=index; let lastType = last" class="hbox" style="align-items: center; flex: initial">
                            <span class="tile">
                                <rdf-resource [resource]="t"></rdf-resource>
                                <span class="glyphicon glyphicon-remove-circle" (click)="deleteType(group, indexType)" style="cursor: pointer"
                                    onmouseover="this.className='glyphicon glyphicon-remove-sign';"
                                    onmouseout="this.className='glyphicon glyphicon-remove-circle';">
                                </span>
                                <span *ngIf="context.readOnly" class="glyphicon glyphicon-remove-circle" style="cursor: not-allowed"></span>
                            </span>
                            <span *ngIf="!lastType">AND</span>
                        </div>
                        <div class="hbox" style="align-items: center; flex: initial; margin-left: 2px;">
                            <button class="btn btn-default btn-xs" (click)="addType(group)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-default" (click)="deleteTypesGroup(indexGroup)" style="margin-left: 4px;">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
                <span *ngIf="!lastGroup">OR</span>
            </div>
        </div>
    </div>

    <!-- Schemes -->
    <div *ngIf="showSchemeSelector" class="panel panel-default" style="margin-top: 5px;">
        <div class="panel-heading">
            <label style="flex: 1;">Schemes</label>
            <div class="btn-group btn-group-xs">
                <button class="btn btn-default" (click)="addSchemesGroup()" title="Add group">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
        <div class="panel-body">
            <div *ngFor="let group of schemesGroups; let lastGroup = last; let indexGroup = index">
                <div class="hbox" style="align-items: center; margin: 2px 0;">
                    <div class="hbox tile-group">
                        <div *ngFor="let s of group; let indexScheme=index; let lastScheme = last" class="hbox" style="align-items: center; flex: initial">
                            <span class="tile">
                                <rdf-resource [resource]="s"></rdf-resource>
                                <span class="glyphicon glyphicon-remove-circle" (click)="deleteScheme(group, indexScheme)" 
                                    style="cursor: pointer" onmouseover="this.className='glyphicon glyphicon-remove-sign';"
                                    onmouseout="this.className='glyphicon glyphicon-remove-circle';">
                                </span>
                                <span *ngIf="context.readOnly" class="glyphicon glyphicon-remove-circle" style="cursor: not-allowed"></span>
                            </span>
                            <span *ngIf="!lastScheme">AND</span>
                        </div>
                        <div class="hbox" style="align-items: center; flex: initial; margin-left: 2px;">
                            <button class="btn btn-default btn-xs" (click)="addScheme(group)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-default" (click)="deleteSchemesGroup(indexGroup)" style="margin-left: 4px;">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
                <span *ngIf="!lastGroup">OR</span>
            </div>
        </div>
    </div>

    <!-- Ingoing links -->
    <div class="panel panel-default" style="margin-top: 5px;">
        <div class="panel-heading">
            <label style="flex: 1;">Ingoing links</label>
            <div class="btn-group btn-group-xs">
                <button class="btn btn-default" (click)="addIngoingGroup()" title="Add group">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
        <div class="panel-body">
            <div *ngFor="let group of ingoingLinks; let lastGroup = last; let indexGroup = index">
                <div class="hbox" style="align-items: center; margin: 3px 0;">
                    <div class="panel panel-default" style="flex: 1;">
                        <div class="panel-body">
                            <div class="hbox" style="align-items: center; margin-bottom: 4px;">
                                <label style="margin-right: 4px;">Predicate:</label>
                                <resource-picker style="flex: 1;" [resource]="group.first" [roles]="['property']" [editable]="true"
                                    (resourceChanged)="updatePropIngoing(group, $event)">
                                </resource-picker>
                            </div>
                            <div class="hbox tile-group">
                                <div *ngFor="let v of group.second; let indexValue = index; let lastValue = last" class="hbox" style="align-items: center; flex: initial">
                                    <span class="tile">
                                        <rdf-resource [resource]="v"></rdf-resource>
                                        <span class="glyphicon glyphicon-remove-circle" (click)="deleteIngoingValue(group, indexValue)"
                                            style="cursor: pointer"
                                            onmouseover="this.className='glyphicon glyphicon-remove-sign';"
                                            onmouseout="this.className='glyphicon glyphicon-remove-circle';">
                                        </span>
                                    </span>
                                    <span *ngIf="!lastValue">OR</span>
                                </div>
                                <div class="hbox" style="align-items: center; flex: initial; margin-left: 2px;">
                                    <button class="btn btn-default btn-xs" (click)="addIngoingValue(group)">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-default" (click)="deleteIngoingGroup(indexGroup)" style="margin-left: 4px;">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
                <span *ngIf="!lastGroup">AND</span>
            </div>
        </div>
    </div>


    <!-- Outgoing links -->
    <div class="panel panel-default" style="margin-top: 5px;">
        <div class="panel-heading">
            <label style="flex: 1;">Outgoing links</label>
            <div class="btn-group btn-group-xs dropup">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li><a (click)="addOutgoingGroupValue()">Add set of values</a></li>
                    <li><a (click)="addOutgoingGroupFreeText()">Add free text search</a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body">

            <div *ngFor="let group of outgoingLinksValue; let lastGroup = last; let indexGroup = index">
                <div class="hbox" style="align-items: center; margin: 3px 0;">
                    <div class="panel panel-default" style="flex: 1;">
                        <div class="panel-body">
                            <div class="hbox" style="align-items: center; margin-bottom: 4px;">
                                <label style="margin-right: 4px;">Predicate:</label>
                                <resource-picker style="flex: 1;" [resource]="group.first" [roles]="['property']" [editable]="true" 
                                    (resourceChanged)="updatePropOutgoingValue(group, $event)">
                                </resource-picker>
                            </div>
                            <div class="hbox tile-group">
                                <div *ngFor="let v of group.second; let indexValue = index; let lastValue = last" class="hbox" style="align-items: center; flex: initial">
                                    <span class="tile">
                                        <rdf-resource [resource]="v"></rdf-resource>
                                        <span class="glyphicon glyphicon-remove-circle" (click)="deleteOutgoingValue(group, indexValue)"
                                            style="cursor: pointer"
                                            onmouseover="this.className='glyphicon glyphicon-remove-sign';"
                                            onmouseout="this.className='glyphicon glyphicon-remove-circle';">
                                        </span>
                                    </span>
                                    <span *ngIf="!lastValue">OR</span>
                                </div>
                                <div class="hbox" style="align-items: center; flex: initial; margin-left: 2px;">
                                    <div class="btn-group btn-group-xs dropup">
                                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a (click)="addOutgoingValue(group, 'resource')">Add resource</a></li>
                                            <li><a (click)="addOutgoingValue(group, 'typedLiteral')">Add typed literal</a></li>
                                            <li><a (click)="addOutgoingValue(group, 'plainLiteral')">Add plain literal</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-default" (click)="deleteOutgoingGroupValue(indexGroup)" style="margin-left: 4px;">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
                <span *ngIf="!lastGroup">AND</span>
            </div>

            <span *ngIf="outgoingLinksValue.length > 0 && outgoingLinksFreeText.length > 0">AND</span>

            <div *ngFor="let group of outgoingLinksFreeText; let lastGroup = last; let indexGroup = index">
                <div class="hbox" style="align-items: center; margin: 3px 0;">
                    <div class="panel panel-default" style="flex: 1;">
                        <div class="panel-body">
                            <div class="hbox" style="align-items: center; margin-bottom: 4px;">
                                <label style="margin-right: 4px;">Predicate:</label>
                                <resource-picker style="flex: 1;" [resource]="group.predicate" [roles]="['property']" [editable]="true" 
                                    (resourceChanged)="updatePropOutgoingFreeText(group, $event)">
                                </resource-picker>
                            </div>
                            <div class="hbox">
                                <select class="form-control input-sm" style="width: initial; margin-right: 4px;" [(ngModel)]="group.mode">
                                    <option *ngFor="let sm of searchModes" [value]="sm.value">{{sm.show}}</option>
                                </select>
                                <input class="form-control input-sm" [(ngModel)]="group.searchString">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-default" (click)="deleteOutgoingGroupFreeText(indexGroup)" style="margin-left: 4px;">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
                <span *ngIf="!lastGroup">AND</span>
            </div>

        </div>
    </div>

    <div #blockingDiv class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="../../../assets/images/loading.gif" />
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)">Search</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>