<div class="hbox">
    <ng2-completer *ngIf="searchSettings.useAutocompletion" style="flex: 1;" [inputClass]="'form-control input-xs'" 
        [(ngModel)]="searchStr" [datasource]="completerDatasource" (keydown)="searchKeyHandler($event)" [minSearchLength]="3"
        placeholder="Search..." matchClass="matchClass" pause="500" [disableInput]="disabled">
    </ng2-completer>

    <input *ngIf="!searchSettings.useAutocompletion" type="text" class="form-control input-xs" style="flex: 1;" 
        [(ngModel)]="searchStr" (keydown)="searchKeyHandler($event)" placeholder="Search..." [disabled]="disabled">



    <div class="btn-group btn-group-xs dropup" style="margin-left: 4px;">
        <button class="btn btn-default" type="button" (click)="doSearch()" [disabled]="disabled">
            <span class="glyphicon glyphicon-search"></span>
        </button>
        <ng-container *ngIf="showOtherSearch()">
            <button class="btn btn-xs btn-default dropdown-toggle" style="padding-left: 2px; padding-right: 3px;" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                <li (click)="advancedSearch()"><a>Advanced search</a></li>
                <li (click)="customSearch()"><a>Custom search</a></li>
            </ul>
        </ng-container>
    </div>

    <div class="btn-group btn-group-xs dropup" style="margin-left: 4px;">
        <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"
            style="border-radius: 0px; padding-left: 3px; padding-right: 3px; border-right: 1px; width: 24px;">
            <span *ngIf="searchSettings.stringMatchMode == 'startsWith'" 
                style="font-weight: bold; font-size: 14px; line-height: 1;">&#945;..</span>
            <span *ngIf="searchSettings.stringMatchMode == 'contains'"
                style="font-weight: bold; font-size: 14px; line-height: 1;">.&#945;.</span>
            <span *ngIf="searchSettings.stringMatchMode == 'endsWith'" 
                style="font-weight: bold; font-size: 14px; line-height: 1;">..&#945;</span>
            <span *ngIf="searchSettings.stringMatchMode == 'exact'" 
                style="font-weight: bold; font-size: 14px; line-height: 1;">&#945;</span>
            <span *ngIf="searchSettings.stringMatchMode == 'fuzzy'" 
                style="font-weight: bold; font-size: 14px; line-height: 1; width: 16px">~&#945;</span>
        </button>
        <ul class="dropdown-menu pull-right">
            <li *ngFor="let mode of stringMatchModes">
                <a (click)="updateSearchMode(mode.value, $event)">
                    <span *ngIf="searchSettings.stringMatchMode == mode.value" class="glyphicon glyphicon-ok" style="float: right"></span>
                    <span style="font-weight: bold; font-size: 13px; margin-right: 4px; display: inline-block; width: 24px;">{{mode.symbol}}</span>
                    <span>{{mode.show}}</span>
                </a>
            </li>
        </ul>

        <button class="btn btn-default" type="button" (click)="editSettings()">
            <span class="glyphicon glyphicon-cog"></span>
        </button>
    </div>
</div>