<div class="modal-header">
    <h3 class="modal-title">Project ACL</h3>
</div>
<div class="modal-body vbox">

    <div class="input-group input-group-xs" style="margin-bottom: 4px;">
        <input class="form-control" placeholder="Consumer Project name" [(ngModel)]="filterProject">
        <span class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></span>
    </div>

    <div class="panel panel-default vbox">
        <div class="panel-heading">
            <label>Access Control List of project: {{context.acl.name}}</label>
        </div>

        <div class="panel-body scrollableContainer">
            <table class="table table-condensed table-borderless">
                <tbody>
                    <ng-container *ngFor="let c of consumers">
                        <tr *ngIf="showConsumer(c)">
                            <td style="width: 1%" nowrap><label>{{c.name}}:</label></td>
                            <td>
                                <select class="form-control input-xs" (ngModelChange)="onAccessLevelChange(c, $event)" [(ngModel)]="c.availableACLLevel">
                                    <option [ngValue]="nullAccessLevel">---</option>
                                    <option *ngFor="let al of accessLevels" [value]="al">{{al}}</option>
                                </select>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>

        <div class="panel-footer">
            <div class="form-group">
                <label class="control-label col-sm-5">Lockable:</label>
                <div class="col-sm-7">
                    <select class="form-control input-xs" (ngModelChange)="onLockLevelChange($event)" [(ngModel)]="lock.availableLockLevel">
                        <option *ngFor="let ll of lockLevels" [value]="ll">{{ll}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)">Ok</button>
</div>