<ng-template [ngIf]="!editInProgress && !editLiteralInProgress && !bulkEditInProgress">
    <rdf-resource [resource]="resource" [rendering]="rendering" style="flex:1" (dblclick)="resourceDblClick()"></rdf-resource>
    <div class="dropdown pull-right" title="Edit">
        <button class="dropdown-toggle transparentBtn" data-toggle="dropdown" [disabled]="editMenuDisabled">
            <span>&#9662;</span>
        </button>
        <ul class="dropdown-menu">
            <!-- Edit menu items -->

            <li *ngIf="editActionScenario == 'xLabel' || editActionScenario == 'plainLiteral' || editActionScenario == 'typedLiteral'"
                [ngClass]="{ disabled: !editAuthorized || isInferred }">
                <a (click)="editLiteral()">Edit literal content</a>
            </li>

            <li *ngIf="editActionScenario != 'xLabel'" [ngClass]="{ disabled: !editAuthorized || isInferred }">
                <a (click)="edit()">Edit</a>
            </li>

            <li *ngIf="isBulkActionMenuItemAvailable" [ngClass]="{ disabled: !bulkEditAuthorized }"
                title="Update the value for every resource that has this predicate-value relation">
                <a (click)="bulkEdit()">Bulk edit</a>
            </li>

            <li *ngIf="isReplaceMenuItemAvailable" [ngClass]="{ disabled: !editAuthorized || isInferred }">
                <a (click)="replace()">Replace with existing resource</a>
            </li>
            <ng-template [ngIf]="isXLabelMenuItemAvailable">
                <li [ngClass]="{ disabled: !spawnFromLabelAuthorized || isInferred }">
                    <a (click)="spawnNewConceptWithLabel()">Spawn new concept from this xLabel</a>
                </li>
                <li [ngClass]="{ disabled: !spawnFromLabelAuthorized || isInferred }">
                    <a (click)="moveLabelToConcept()">Move xLabel to another concept</a>
                </li>
            </ng-template>

            <li *ngIf="copyLocalesAction.available" [ngClass]="{ disabled: !copyLocalesAuthorized }">
                <a (click)="copyLocales()">Copy value to other locales</a>
            </li>

            <li *ngIf="isInferred && partition != 'lexicalizations'" [ngClass]="{ disabled: !assertAuthorized }">
                <a (click)="assertInferred()">Assert inferred statement</a>
            </li>
            <li [ngClass]="{ disabled: !deleteAuthorized || isInferred }"><a (click)="delete()">Delete</a></li>

            <li *ngIf="isBulkActionMenuItemAvailable" [ngClass]="{ disabled: !bulkDeleteAuthorized }" 
                title="Delete the value for every resource that has this predicate-value relation">
                <a (click)="bulkDelete()">Bulk delete</a>
            </li>
        </ul>
    </div>
</ng-template>

<ng-template [ngIf]="editInProgress || bulkEditInProgress || editLiteralInProgress">
    <div class="input-group input-group-xs" style="flex: 1;">
        <textarea *ngIf="editLiteralInProgress; else editInProgressInput" class="form-control input-xs" style="height: initial; resize: vertical;"
            rows="1" [(ngModel)]="resourceStringValue"></textarea>
        <ng-template #editInProgressInput>
            <input type="text" class="form-control" [(ngModel)]="resourceStringValue">
        </ng-template>
        <div class="input-group-btn">
            <button class="btn btn-default" style="width:15px; padding: 0px;" (click)="confirmEdit()" placeholder="Confirm">
                <span class="glyphicon glyphicon-ok" style="color: green"></span>
            </button>
            <button class="btn btn-default" style="width:15px; padding: 0px;" (click)="cancelEdit()" placeholder="Cancel">
                <span class="glyphicon glyphicon-remove" style="color: red"></span>
            </button>
        </div>
    </div>
</ng-template>


