<div class="modal-header">
    <h3 class="modal-title">Configuration for remote data store</h3>
</div>
<div class="modal-body">

    <table class="table table-condensed table-borderless table-hoverable">
        <colgroup>
            <col style="width: 1%;">
            <col>
            <col style="width: 1%;">
        </colgroup>
        <tbody>
            <tr>
                <td nowrap>Server URL</td>
                <td>
                    <div class="input-group input-group-sm">
                        <select class="form-control" [(ngModel)]="selectedConfig" name="selectedRepositoryAccess">
                            <option *ngFor="let conf of savedConfigs" [ngValue]="conf">{{conf.serverURL}}</option>
                            <option *ngIf="savedConfigs.length == 0" disabled>No Remote Store Configuration saved. Create a new one by clicking on 'Manage Config'</option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-sm" (click)="changeRemoteConfig()">Manage Config</button>
                        </span>
                    </div>
                </td>
                <td><span class="glyphicon glyphicon-info-sign" style="margin-left: 5px" title="URL to the server of the rdf repository"></span></td>
            </tr>
            <tr>
                <td nowrap>Username</td>
                <td><input type="text" class="form-control input-sm" [ngModel]="selectedConfig.username" placeholder="username" readonly></td>
                <td><span class="glyphicon glyphicon-info-sign" style="margin-left: 5px" title="Identifier for the user connecting to the rdf repository"></span></td>
            </tr>
            <tr>
                <td nowrap>Password</td>
                <td>
                    <div class="input-group input-group-sm">
                        <input *ngIf="!showPwd" type="password" class="form-control" [ngModel]="selectedConfig.password" placeholder="password" readonly>
                        <input *ngIf="showPwd" class="form-control" [ngModel]="selectedConfig.password" placeholder="password" readonly>
                        <span class="input-group-btn">
                            <button class="btn btn-default" [ngClass]="{ active : showPwd }" (mousedown)="showPwd = true" (mouseup)="showPwd = false">
                                <span *ngIf="!showPwd" class="glyphicon glyphicon-eye-close"></span>
                                <span *ngIf="showPwd" class="glyphicon glyphicon-eye-open"></span>
                            </button>
                        </span>
                    </div>
                </td>
                <td><span class="glyphicon glyphicon-info-sign" style="margin-left: 5px" title="Password for the user connecting to the rdf repository"></span></td>
            </tr>
        </tbody>
    </table>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!selectedConfig.serverURL">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>