<div class="table-responsive" style="flex: 1;">
    <table *ngIf="issues" class="table table-condensed table-hoverable">
        <colgroup>
            <col style="width: 1%">
            <col style="width: 50%">
            <col *ngIf="context == 'Dashboard'">
            <col style="width: 1%">
        </colgroup>
        <tbody>
            <tr *ngFor="let i of issues" (click)="selectIssue(i)" [ngClass]="{ active : i == selectedIssue }">
                <td nowrap>
                    <a [href]="i.getUrl()" target="_blank">{{i.getKey()}}</a>
                </td>
                <td>{{i.getSummary()}}</td>
                <td *ngIf="context == 'Dashboard'">
                    <div *ngIf="i.getResources().length > 0; else noResBlock">
                        <rdf-resource *ngFor="let r of i.getResources()" [resource]="r" class="clickable" (click)="onResourceClick(r)"></rdf-resource>
                    </div>
                    <ng-template #noResBlock>
                        <span class="glyphicon glyphicon-warning-sign" style="color: #f0ad4e; padding: 0px 2px;"></span>
                        <span style="font-style: italic; color: grey;">No resource(s) associated to this issue</span>
                    </ng-template>
                </td>
                <td class="text-center">
                    <span [class]="'label ' + i.getStatusClass()" style="font-size: 100%">{{i.getStatus()}}</span>
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</div>

<div *ngIf="showPaging" style="align-self: flex-end">
    <div class="btn-group btn-group-xs pull-right" style="margin-top: 4px;" role="group">
        <button class="btn btn-default" title="Previous page" (click)="previousPage()" [disabled]="page==0">
            <span class="glyphicon glyphicon-triangle-left"></span>
        </button>
        <button class="btn btn-default" style="cursor: auto" disabled>
            <span>{{page+1}} of {{totPage}}</span>
        </button>
        <button class="btn btn-default" title="Next page" (click)="nextPage()" [disabled]="page==totPage-1">
            <span class="glyphicon glyphicon-triangle-right"></span>
        </button>
    </div>
</div>

<div #blockingDiv class="blockingDiv" style="display:none">
    <div class="loadingDiv">
        <div>
            <p>Loading...</p><img src="../../assets/images/loading.gif" />
        </div>
    </div>
</div>