<div class="panel panel-default vbox">
    <!-- Commands -->
    <div class="panel-heading">  
        <div *ngIf="editable" class="btn-group btn-group-xs" role="group">
            <!-- <button class="btn btn-default" title="Create topConcept" (click)="createRoot()" [disabled]="isCreateDisabled()">
                <img src="../../../../../assets/images/icons/actions/concept_create.png" class="panelButtonImg"/>
            </button>
            <button class="btn btn-default" title="Add narrower" (click)="createChild()" [disabled]="isCreateChildDisabled()">
                <img src="../../../../../assets/images/icons/actions/concept_addChild.png" class="panelButtonImg"/>
            </button>
            <ng-template [ngIf]="deletable">
                <button class="btn btn-default" title="Delete Concept" (click)="delete()" [disabled]="isDeleteDisabled()">
                    <img src="../../../../../assets/images/icons/actions/concept_delete.png" class="panelButtonImg"/>
                </button>
                <button class="btn btn-default" title="Deprecate Concept" (click)="deprecate()" [disabled]="isDeprecateDisabled()">
                    <img src="../../../../../assets/images/icons/actions/concept_deprecate.png" class="panelButtonImg"/>
                </button>
            </ng-template> -->

            <ng-template ngFor let-action [ngForOf]="panelActions">
                <button *ngIf="isActionVisible(action)" class="btn btn-default" [title]="action.title" (click)="executeAction(action)" [disabled]="isActionDisabled(action)">
                    <img [src]="action.icon" class="panelButtonImg"/>
                </button>
            </ng-template>
        </div>
        <div *ngIf="editable" style="margin: 0px 5px;">
            <img *ngIf="isNoSchemeMode()" src="../../../../../assets/images/icons/warning.png"
                title="No skos:ConceptScheme selected, creation operation are disabled">
        </div>
        <div style="flex: 1"></div>
        <div class="btn-toolbar" role="toolbar">
            <button class="btn btn-default btn-xs" title="Rendering" (click)="rendering=!rendering" [ngClass]="{ active: rendering }">
                <span class="glyphicon glyphicon-font"></span>
            </button>
            <button class="btn btn-default btn-xs" title="Refresh" (click)="refresh()">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
            <button *ngIf="isOpenSettingsAvailable()" class="btn btn-default btn-xs" title="Settings" (click)="settings()">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
        </div>

        <div class="dropdown pull-right">
            <!-- Disabled when all the options are not available -->
            <button class="dropdown-toggle transparentBtn" data-toggle="dropdown"
                [disabled]="!allowMultiselection && !isOpenGraphEnabled('dataOriented') && !isAddToSchemeEnabled()">
                <span>&#9662;</span>
            </button>
            <ul class="dropdown-menu">
                <ng-container *ngIf="allowMultiselection">
                    <li>
                        <a (click)="toggleMultiselection()">
                            <span style="flex: 1;">
                                <span class="glyphicon glyphicon-check" style="margin-right: 4px;"></span>
                                Multiselection
                            </span>
                            <span *ngIf="multiselection" class="glyphicon glyphicon-ok pull-right"></span>
                        </a>
                    </li>
                    <li *ngIf="context=='dataPanel' && multiselection" [ngClass]="{ disabled: checkedNodes.length == 0 }">
                        <a (click)="enrichMultiSubject()">
                            <span class="glyphicon glyphicon-check" style="margin-right: 4px; margin-left: 16px;"></span>
                            Add a property value to selected values
                        </a>
                    </li>
                </ng-container>
                <li *ngIf="isAddToSchemeEnabled()">
                    <a (click)="addToScheme()">
                        <span class="glyphicon glyphicon-share-alt" style="margin-right: 4px;"></span>
                        Add selected concept's subtree to scheme...
                    </a>
                </li>
                <li *ngIf="isOpenGraphEnabled('dataOriented')">
                    <a (click)="openDataGraph()">
                        <img src="../../../../../assets/images/icons/res/ontology.png" style="margin-right: 4px;" width="11px">
                        Show data-oriented graph
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <!-- Tree -->
    <div class="panel-body vbox">

        <div *ngIf="schemeChangeable" style="padding-bottom: 3px; display: flex; align-items: center">
            <span style="white-space: nowrap; margin: 0px 3px;">Concept Scheme:</span>
            <select class="form-control input-xs" [(ngModel)]="selectedSchemeUri" (ngModelChange)="onSchemeSelectionChange()">
                <option value="---">no-scheme</option>
                <option *ngFor="let s of schemeList" [value]="s.getURI()">{{getSchemeRendering(s)}}</option>
            </select>
        </div>

        <div *ngIf="visualizationMode == 'searchBased' && !lastSearch" class="alert alert-warning" style="margin-bottom: 4px;">
            Please use the search field to retrieve concepts
        </div>

        <concept-tree [projectCtx]="projectCtx" [schemes]="workingSchemes" [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated" [context]="context"
            (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)" (conceptRemovedFromScheme)="onConceptRemovedFromScheme($event)">
        </concept-tree>
    </div>

    <!-- Search -->
    <div *ngIf="!hideSearch" class="panel-footer">
        <search-bar (search)="doSearch($event)" (advancedSearch)="advancedSearch($event)" [roles]="[panelRole]" [context]="context" [projectCtx]="projectCtx"></search-bar>
    </div>
    
</div>