<div class="vbox">

    <ul class="nav nav-tabs nav-tabs-xs" (click)="$event.preventDefault()">
        <ng-container *ngFor="let t of tabs">
            <li *ngIf="showTab(t.role)" [ngClass]="{ active : activeTab == t.role, disabled: !isTabAuthorized(t.role) }">
                <a href (click)="selectTab(t.role)">{{t.label}}</a>
            </li>
        </ng-container>
        <li class="active" style="float: right;">
            <a (click)="openSettings()" style="margin: 0px 2px;">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
    </ul>
    
    <!--Tabs content-->
    <div class="tab-content">
        <div *ngIf="showTab('cls')" [ngClass]="{vbox : activeTab == 'cls'}" [hidden]="activeTab != 'cls'">
            <class-individual-tree-panel (classSelected)="onNodeSelected($event)" (instanceSelected)="onNodeSelected($event)"
                (advancedSearch)="advancedSearch($event)" [allowMultiselection]="allowMultiselection"
                [context]="context" [projectCtx]="projectCtx" [readonly]="readonly" [editable]="editable">
            </class-individual-tree-panel>
        </div>
        <div *ngIf="showTab('concept')" [ngClass]="{vbox : activeTab == 'concept'}" [hidden]="activeTab != 'concept'">
            <concept-tree-panel (nodeSelected)="onNodeSelected($event)" (advancedSearch)="advancedSearch($event)"
                [allowMultiselection]="allowMultiselection" [context]="context" [projectCtx]="projectCtx" [readonly]="readonly" [editable]="editable">
            </concept-tree-panel>
        </div>
        <div *ngIf="showTab('conceptScheme')" [ngClass]="{vbox : activeTab == 'conceptScheme'}" [hidden]="activeTab != 'conceptScheme'">
            <scheme-list-panel (nodeSelected)="onNodeSelected($event)" (advancedSearch)="advancedSearch($event)"
                [allowMultiselection]="allowMultiselection" [context]="context" [projectCtx]="projectCtx" [readonly]="readonly" [editable]="editable">
            </scheme-list-panel>
        </div>
        <div *ngIf="showTab('skosCollection')" [ngClass]="{vbox : activeTab == 'skosCollection'}" [hidden]="activeTab != 'skosCollection'">
            <collection-tree-panel (nodeSelected)="onNodeSelected($event)" (advancedSearch)="advancedSearch($event)" 
                [allowMultiselection]="allowMultiselection" [context]="context" [projectCtx]="projectCtx" [readonly]="readonly" [editable]="editable">
            </collection-tree-panel>
        </div>
        <div *ngIf="showTab('property')" [ngClass]="{vbox : activeTab == 'property'}" [hidden]="activeTab != 'property'">
            <property-tree-panel (nodeSelected)="onNodeSelected($event)" (advancedSearch)="advancedSearch($event)" 
                [allowMultiselection]="allowMultiselection" [context]="context" [projectCtx]="projectCtx" [readonly]="readonly" [editable]="editable">
            </property-tree-panel>
        </div>
        <div *ngIf="showTab('limeLexicon')" [ngClass]="{vbox : activeTab == 'limeLexicon'}" [hidden]="activeTab != 'limeLexicon'">
            <lexicon-list-panel (nodeSelected)="onNodeSelected($event)" (advancedSearch)="advancedSearch($event)" 
                [allowMultiselection]="allowMultiselection" [context]="context" [projectCtx]="projectCtx" [readonly]="readonly" [editable]="editable">
            </lexicon-list-panel>
        </div>
        <div *ngIf="showTab('ontolexLexicalEntry')" [ngClass]="{vbox : activeTab == 'ontolexLexicalEntry'}" [hidden]="activeTab != 'ontolexLexicalEntry'">
            <lexical-entry-list-panel (nodeSelected)="onNodeSelected($event)" (advancedSearch)="advancedSearch($event)" 
                [allowMultiselection]="allowMultiselection" [context]="context" [projectCtx]="projectCtx" [readonly]="readonly" [editable]="editable">
            </lexical-entry-list-panel>
        </div>
        <div *ngIf="showTab('dataRange')" [ngClass]="{vbox : activeTab == 'dataRange'}" [hidden]="activeTab != 'dataRange'">
            <datatype-list-panel (nodeSelected)="onNodeSelected($event)" (advancedSearch)="advancedSearch($event)" 
                [allowMultiselection]="allowMultiselection" [context]="context" [projectCtx]="projectCtx" [readonly]="readonly" [editable]="editable">
            </datatype-list-panel>
        </div>
    </div>
    
</div>