<div class="vbox">

    <div class="hbox">
        <div class="vbox" style="flex: 4; font-size: 12px; padding: 6px;">
            <div style="flex: 1;">
                <h2 style="margin-top: 10px">Welcome to VocBench</h2>
                <p>
                    VocBench is a web-based, multilingual, collaborative development platform for managing
                    <a href="https://www.w3.org/TR/owl2-overview/">OWL</a> ontologies,
                    <a href="https://www.w3.org/TR/skos-reference/">SKOS</a>(/<a href="https://www.w3.org/TR/skos-reference/skos-xl.html">XL</a>)
                    thesauri, <a href="https://www.w3.org/2016/05/ontolex/">Ontolex-lemon</a> lexicons and generic RDF datasets.
                </p>
                <p>
                    VocBench is powered by the <a href="http://semanticturkey.uniroma2.it/" target="_blank">Semantic Turkey</a> Knowledge
                    Acquisition and Management framework
                </p>
            </div>
            <p *ngIf="privacyStatementAvailable" style="align-self: flex-end;">
                Please read our <a [routerLink]="" (click)="downloadPrivacyStatement()">privacy statement</a>
            </p>
        </div>
        <div *ngIf="!isUserLogged()" style="flex: 1; padding-left: 10px; margin-bottom: 5px; border-left: 1px solid #ddd">
            <login (loggedIn)="onLogin()"></login>
        </div>
    </div>

    <table class="table" style="background-color: #E7F0FF">
        <tbody>
            <tr>
                <td colspan="4"><label>VocBench 3 has been developed by:</label></td>
            </tr>
            <tr>
                <td style="border: none; width: 5%; text-align: center;">
                    <a href="http://web.uniroma2.it/home/newlang/english" target="_blank">
                        <img src="../assets/images/logos/logo_tor_vergata.png" height="36">
                    </a>
                </td>
                <td style="border: none; width: 45%;">
                    <a href="http://web.uniroma2.it/home/newlang/english" target="_blank">
                        <div>
                            <div style="color: #002244; font-weight:bold;">University of Rome Tor Vergata</div>
                            <div style="color: #aa4400; font-size: 10px; font-weight: bold; font-style: italic;">
                                Today, the University of tomorrow
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="4"><label>VocBench 3 is funded by:</label></td>
            </tr>
            <tr>
                <td style="border: none; text-align: center;">
                    <a href="http://ec.europa.eu/isa/isa2/index_en.htm" target="_blank">
                        <img src="../assets/images/logos/european_commission_logo.gif" height="36">
                    </a>
                </td>
                <td style="border: none;">
                    <a href="http://ec.europa.eu/isa/isa2/index_en.htm" target="_blank">
                        <div>
                            <div>
                                <div style="color: #002244; font-weight:bold;">ISA<sup>2</sup></div>
                                <div style="color: #aa4400; font-size: 10px; font-weight: bold; font-style: italic;">
                                    Interoperability solutions for public administrations, business and citizens
                                </div>
                            </div>
                        </div>
                    </a>
                </td>
                <td style="border: none; text-align: center;">
                    <a href="https://publications.europa.eu/en/home" target="_blank">
                        <img src="../assets/images/logos/publications_office_eu_logo.png" height="36">
                    </a>
                </td>
                <td style="border: none;">
                    <a href="https://publications.europa.eu/en/home" target="_blank">
                        <div>
                            <div>
                                <div style="color: #002244; font-weight:bold;">Publications Office of the European Union</div>
                                <div style="color: #aa4400; font-size: 10px; font-weight: bold; font-style: italic;">
                                    EU law and publications
                                </div>
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>