<div class="modal-header">
    <h3 class="modal-title text-info">{{context.title}}</h3>
</div>
<div class="modal-body vbox scrollableContainer">
    <table class="table table-condensed table-hoverable">
        <thead>
            <tr>
                <th>Resource</th>
                <th>Matched language</th>
                <th>Match mode</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of context.resourceList" (click)="resourceSelected = r" [ngClass]="{ active : r == resourceSelected }">
                <td><rdf-resource [resource]="r"></rdf-resource></td>
                <td>{{r.getAdditionalProperty('matchedLang')}}</td>
                <td>{{r.getAdditionalProperty('matchMode')}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!resourceSelected">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>