<div class="modal-header">
    <h3 class="modal-title">Add new alignment</h3>
</div>
<div class="modal-body blockingDivHost">
    
    <table class="table table-condensed table-borderless">
        <colgroup>
            <col style="width: 1%;">
            <col>
            <col style="width: 1%;">
        </colgroup>
        <tbody>
            <tr>
                <td nowrap><label>Source Resource:</label></td>
                <td>
                    <div class="input-sm input-resource">
                        <rdf-resource [resource]="context.resource"></rdf-resource>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label>Property:</label></td>
                <td>
                    <select class="form-control input-sm" [(ngModel)]="mappingProperty">
                        <option *ngFor="let p of mappingPropList" [ngValue]="p">{{p.getShow()}}</option>
                    </select>
                </td>
                <td>
                    <div class="checkbox" title="Show all mapping properties">
                        <label style="white-space: nowrap">
                            <input type="checkbox" [(ngModel)]="allPropCheck" (ngModelChange)="initPropList()">
                            All prop.
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td nowrap><label>Target Resource:</label></td>
                <td>
                    <div class="input-sm input-resource">
                        <rdf-resource *ngIf="alignedObject" [resource]="alignedObject"></rdf-resource>
                    </div>
                </td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" title="Pick external resource">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a (click)="browseLocalProjects()">Browse local projects</a></li>
                            <li><a (click)="assistedSearch()">Assisted search</a></li>
                            <li><a (click)="enterManually()">Enter value manually</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div #blockingDiv class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="../../../assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!isOkClickable()">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>