<div *ngIf="contextInitialized" class="hbox">

    <tabset-panel #leftTabset [projectCtx]="leftProjCtx" (nodeSelected)="onLeftResourceSelected($event)" [hiddenTabs]="leftHiddenTabs" [editable]="false">
    </tabset-panel>

    <div class="vbox" style="margin: 0px 8px">

        <div class="hbox" style="flex: initial; align-items: center;padding: 8px">
            <div class="text-center" style="flex: 1; border-right: 1px solid black">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <label>{{leftProjCtx.getProject().getName()}}</label>
            </div>
            <div class="text-center" style="flex: 1;">
                <label>{{rightProjCtx.getProject().getName()}}</label>
                <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
        </div>

        <div class="panel panel-default" style="margin-bottom: 4px;">
            <div class="panel-heading">
                <label>New alignment</label>
            </div>
            <div class="panel-body" style="min-height: 30px;">
                <div class="hbox">
                    <div style="flex: 1">
                        <rdf-resource *ngIf="leftSelectedResource" style="cursor: pointer" [resource]="leftSelectedResource"
                            (dblclick)="openLeftResourceView(leftSelectedResource)">
                        </rdf-resource>
                    </div>
                    <div style="flex: 1">
                        <rdf-resource *ngIf="rightSelectedResource" style="cursor: pointer" [resource]="rightSelectedResource"
                            (dblclick)="openRightResourceView(rightSelectedResource)">
                        </rdf-resource>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="hbox">
                    <div class="hbox" style="align-items: center; margin-right: 4px;">
                        <label style="margin-right: 4px;">Relation:</label>
                        <select class="form-control input-xs" style="margin-right: 4px;" [(ngModel)]="selectedRelation" [title]="selectedRelation?.text">
                            <option *ngFor="let rel of relations" [ngValue]="rel" [title]="rel.text">{{rel.relation}}</option>
                        </select>
                    </div>
                    <div class="hbox" style="align-items: center; margin-right: 4px;">
                        <label style="margin-right: 4px;">Measure:</label>
                        <input class="form-control input-xs" style="margin-right: 4px;" type="number" min="0" max="1" step=".01" [(ngModel)]="measure">
                    </div>
                    <button class="btn btn-xs btn-default pull-right" (click)="addCorrespondence()"
                        [disabled]="!leftSelectedResource || !rightSelectedResource || !selectedRelation || !measure">
                        Create
                    </button>
                </div>
            </div>
        </div>

        <div class="panel panel-default vbox">
            <div class="panel-heading">
                <label style="flex: 1;">Alignments</label>
                <div class="btn-toolbar">
                    <button class="btn btn-xs btn-default" style="transform: rotate(90deg);" title="Sync entities" (click)="syncCorrespondece()" [disabled]="!selectedCorrespondence">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    <button class="btn btn-xs btn-default" (click)="deleteCorrespondece()" title="Delete alignment" [disabled]="!selectedCorrespondence">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                    <button class="btn btn-xs btn-default" (click)="listCorrespondences()" title="Refresh">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </div>
            </div>
            <div class="panel-body vbox">

                <div class="table-responsive">
                    <table *ngIf="correspondences" class="table table-condensed">
                        <colgroup>
                            <col style="width: 48%">
                            <col style="width: 48%">
                            <col style="width: 1%">
                            <col style="width: 1%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Left entity</th>
                                <th>Right entity</th>
                                <th>Relation</th>
                                <th>Measure</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of correspondences" (click)="selectCorrespondence(c)" [ngClass]="{ active: selectedCorrespondence == c }">
                                <td>
                                    <rdf-resource [resource]="c.leftEntity[0]" style="cursor: pointer" (dblclick)="openLeftResourceView(c.leftEntity[0])"></rdf-resource>
                                </td>
                                <td>
                                    <rdf-resource [resource]="c.rightEntity[0]" style="cursor: pointer" (dblclick)="openRightResourceView(c.rightEntity[0])"></rdf-resource>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group btn-group-xs">
                                        <button class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                                            {{c.relation[0].getShow()}}
                                        </button>
                                        <ul class="dropdown-menu pull-right">
                                            <li *ngFor="let rel of relations">
                                                <a (click)="changeRelation(c, rel)" [title]="rel.text">{{rel.relation}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-xs btn-default" (click)="changeMeasure(c)">{{c.measure[0].getShow()}}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div *ngIf="correspondences?.length > 0" class="panel-footer">
                <div class="btn-group btn-group-xs pull-right">
                    <button class="btn btn-default" title="Previous page" (click)="prevPage()" [disabled]="page==0">
                        <span class="glyphicon glyphicon-triangle-left"></span>
                    </button>
                    <button class="btn btn-default" style="cursor: auto" disabled>
                        <span>{{page+1}} of {{totPage}}</span>
                    </button>
                    <button class="btn btn-default" title="Next page" (click)="nextPage()" [disabled]="page>=totPage-1">
                        <span class="glyphicon glyphicon-triangle-right"></span>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <tabset-panel #rightTabset [projectCtx]="rightProjCtx" (nodeSelected)="onRightResourceSelected($event)" [hiddenTabs]="rightHiddenTabs" [editable]="false">
    </tabset-panel>

</div>