<div class="modal-header">
    <h3 class="modal-title text-info">{{context.title}}</h3>
</div>
<div class="modal-body">
    <div class="alert alert-info" *ngIf="context.message">
        {{context.message}}
    </div>
        
    <div class="scrollableContainer" style="border: 1px solid #ddd; margin-top: 5px;">
        <table class="table table-condensed table-hoverable">
            <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">RDF Capability</th>
                    <th class="text-center">URI</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let c of converters" (click)="selectConverter(c)" [ngClass]="{active: c == selectedConverter}">
                    <td>{{c.getName()}}</td>
                    <td>{{c.getDescription()}}</td>
                    <td nowrap>{{c.getRDFCapability()}}
                        <span *ngIf="c.getRDFCapability() == 'typedLiteral'" class="glyphicon glyphicon-info-sign" [title]="c.getDatatypes()"></span>
                    </td>
                    <td [title]="c.getURI()">{{c.getQName()}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <form class="form-horizontal" style="margin-top: 8px;">
        <div class="form-group" style="margin: 0px;">
            <label class="control-label col-sm-1">Signature:</label>
            <div class="col-sm-11">
                <div class="input-group input-group-sm">
                    <span *ngIf="selectedConverter?.getRDFCapability() == 'node'" class="input-group-btn">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" [disabled]="concerterTypeConstrained">
                            {{selectedConverterType}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a (click)="switchConverterType('uri')">Uri</a></li>
                            <li><a (click)="switchConverterType('literal')">Literal</a></li>
                        </ul>
                    </span>
                    <input type="text" class="form-control" [ngModel]="projectionOperator" name="projectionOperator" readonly>
                    <span class="input-group-btn">
                        <button class="btn btn-default" (click)="chooseSignature()" title="Change signature" [disabled]="!isSignatureEditable()">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </form>
    
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!selectedConverter">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>