<div [class]="'input-group input-group-' + size">
    <input type="text" class="form-control" [(ngModel)]="resourceIRI" (ngModelChange)="onModelChanged()"
        placeholder="http://example.org" [readonly]="!editable" [disabled]="disabled">
    <div class="input-group-btn">
        <button class="btn btn-default" (click)="pickResource()" title="Pick an existing resource" [disabled]="disabled">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
    </div>
</div>