<div class="panel panel-default vbox">
    <div class="panel-heading">
        <label style="flex: 1">Staged commits</label>

        <label style="white-space: pre">Operation sort: </label>
        <div class="btn-group btn-group-xs" style="margin-right: 8px;" role="group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span>{{operationSorting}}</span>
                <span class="glyphicon glyphicon-sort-by-alphabet"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                <li *ngFor="let sd of sortingDirectionList" style="position: relative;">
                    <a (click)="sortOperation(sd)" style="margin-right: 18px;">{{sd}}</a>
                    <span *ngIf="sd == operationSorting" class="glyphicon glyphicon-ok pull-right"
                        style="position: absolute; right: 4px;"></span>
                </li>
            </ul>
        </div>

        <label style="white-space: pre">Time sort: </label>
        <div class="btn-group btn-group-xs" style="margin-right: 8px;" role="group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span>{{timeSorting}}</span>
                <span class="glyphicon glyphicon-sort-by-order"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                <li *ngFor="let sd of sortingDirectionList" style="position: relative;">
                    <a (click)="sortTime(sd)" style="margin-right: 18px;">{{sd}}</a>
                    <span *ngIf="sd == timeSorting" class="glyphicon glyphicon-ok pull-right"
                        style="position: absolute; right: 4px;"></span>
                </li>
            </ul>
        </div>

        <button class="btn btn-xs btn-default" [ngClass]="{active: showFilterBox}" (click)="showFilterBox = !showFilterBox"  title="Filter">
            <span *ngIf="!showFilterBox">Show filters</span>
            <span *ngIf="showFilterBox">Hide filters</span>
            <span class="glyphicon glyphicon-filter"></span>
        </button>
    </div>


    <div class="panel-body vbox">

        <history-filter *ngIf="showFilterBox" class="vbox" style="margin-bottom: 6px; min-height: 115px;" (apply)="onFilterApplied($event)"
            [operations]="operations" [performers]="performers" [fromTime]="fromTime" [toTime]="toTime"></history-filter>

        <div class="table-responsive" style="flex: 3;">
            <table class="table table-condensed table-hoverable">
                <thead>
                    <tr>
                        <th class="text-center">Commit ID</th>
                        <th class="text-center">Action</th>
                        <th class="text-center">1st Param</th>
                        <th class="text-center" *ngIf="isLargeWidth()">2nd Param</th>
                        <th class="text-center">Other param(s)</th>
                        <th class="text-center">User</th>
                        <th class="text-center">Date</th>
                        <th class="text-center">Validate</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of commits">
                        <td class="text-center" nowrap>
                            <a (click)="getCommitDelta(item)" style="cursor: pointer;">{{item.commit.getLocalName()}}</a>
                        </td>
                        <td class="text-center">
                            <span *ngIf="item.operation" [title]="item.operation.getURI()">
                                {{item.operation.getShow()}}
                            </span>
                        </td>
                        <td class="text-center">
                            <ng-template [ngIf]="item.operationParameters.length != 0">
                                <label style="white-space: pre;">{{item.operationParameters[0].name}}: </label>
                                <span class="clickable" (click)="openValueResourceView(item.operationParameters[0].value)">
                                    {{item.operationParameters[0].value}}
                                </span>
                            </ng-template>
                        </td>
                        <td class="text-center" *ngIf="isLargeWidth()">
                            <ng-template [ngIf]="item.operationParameters.length > 1">
                                <label style="white-space: pre;">{{item.operationParameters[1].name}}: </label>
                                <span class="clickable" (click)="openValueResourceView(item.operationParameters[1].value)">
                                    {{item.operationParameters[1].value}}
                                </span>
                            </ng-template>
                        </td>
                        <td class="text-center">
                            <ng-template [ngIf]="!isLargeWidth() && item.operationParameters.length > 1">
                                <label style="white-space: pre;">{{item.operationParameters[1].name}}: </label>
                                <span class="clickable" (click)="openValueResourceView(item.operationParameters[1].value)">
                                    {{item.operationParameters[1].value}}
                                </span>
                            </ng-template>
                            <ng-template [ngIf]="isLargeWidth() && item.operationParameters.length > 2">
                                <label style="white-space: pre;">{{item.operationParameters[2].name}}: </label>
                                <span class="clickable" (click)="openValueResourceView(item.operationParameters[2].value)">
                                    {{item.operationParameters[2].value}}
                                </span>
                            </ng-template>
                            <button *ngIf="showOtherParamButton(item)" class="btn btn-xs btn-default" (click)="inspectParams(item)"
                                title="Show all parameters">
                                <span class="glyphicon glyphicon-option-horizontal"></span>
                            </button>
                        </td>
                        <td class="text-center">
                            <span *ngIf="item.user" [title]="item.user.getURI()">
                                {{item.user.getShow()}}
                            </span>
                        </td>
                        <td class="text-center">
                            {{item.endTimeLocal}}
                        </td>
                        <td>
                            <select class="form-control input-xs" [(ngModel)]="item.validationAction">
                                <option *ngFor="let act of validationActions" [ngValue]="act">{{act.show}}</option>
                            </select>
                        </td>
                        <td>
                            <button *ngIf="item.commentAllowed" class="btn btn-xs btn-default" (click)="editComment(item)"
                                [disabled]="item.validationAction.value != 'reject'" title="Provide a comment for the validation action">
                                <span class="glyphicon glyphicon-comment" [ngClass]="{ greenText: item.comment }"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    </div>

    <div class="panel-footer">
        <div class="hbox  pull-right" style="align-items: center">

            <div class="btn-group btn-group-xs" role="group" style="margin-right: 6px;">
                <button class="btn btn-default" title="Previous" (click)="getPreviousCommits()" [disabled]="page <= 0">
                    <span class="glyphicon glyphicon-triangle-left"></span>
                </button>
                <button class="btn btn-default" style="cursor: auto" disabled>
                    <span>{{page+1}} of {{pageCount}}</span>
                </button>
                <button class="btn btn-default" title="Next" (click)="getNextCommits()" [disabled]="page+1 >= pageCount">
                    <span class="glyphicon glyphicon-triangle-right"></span>
                </button>
            </div>

            <div class="btn-group btn-group-xs" role="group" style="margin-right: 12px;">
                <button class="btn btn-xs btn-default" (click)="acceptAll()">Accept all</button>
                <button class="btn btn-xs btn-default" (click)="rejectAll()">Reject all</button>
            </div>

            <button type="submit" class="btn btn-default btn-sm pull-right" (click)="validate()">Validate</button>
        </div>
    </div>

</div>