<div class="modal-header">
    <h3 class="modal-title">Data-Oriented Graph settings</h3>
</div>
<div class="modal-body vbox">

    <div class="hbox">
        <lang-value-filter-pref class="vbox"></lang-value-filter-pref>
        <rv-partition-filter class="vbox" style="margin-left: 4px;"></rv-partition-filter>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="checkbox-inline">
                <label>
                    <input type="checkbox" [(ngModel)]="hideLiteralNodes" (ngModelChange)="onHideLiteralChange()">Hide literal nodes
                </label>
                <span class="glyphicon glyphicon-info-sign" title="If checked, all the literal nodes will be hidden in the graph"></span>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)">Ok</button>
</div>