<div class="modal-header">
    <h3 class="modal-title text-info">{{context.title}}</h3>
</div>
<div class="modal-body vbox">
    
    <div class="panel panel-default vbox">
        <div class="panel-body table-responsive" style="min-height: 80px;">
            <table class="table table-condensed table-hoverable">
                <colgroup>
                    <col>
                    <col>
                    <col style="width: 1%">
                </colgroup>
                <thead>
                    <tr>
                        <th>Identifier</th>
                        <th>Scope</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ref of references" (click)="selectReference(ref)" [ngClass]="{active: selectedRef == ref}">
                        <td>{{ref.identifier}}</td>
                        <td>{{ref.getReferenceScope()}}</td>
                        <td>
                            <button *ngIf="!context.selectionMode" class="btn btn-xs btn-default" (click)="deleteReference(ref)" title="Delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>

                    <tr *ngFor="let ref of context.additionalReferences" (click)="selectReference(ref)" [ngClass]="{active: selectedRef == ref}">
                        <td>{{ref.identifier}}</td>
                        <td>APPLICATION</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!selectedRef">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>