<div class="modal-header">
    <h3 class="modal-title text-info">{{context.title}}</h3>
</div>
<div class="modal-body vbox">
    
    <table class="table table-condensed table-borderless">
        <colgroup>
            <col style="width: 1%;">
            <col>
        </colgroup>
        <tbody>
            <tr>
                <td nowrap>
                    <label>ID:</label>
                </td>
                <td>
                    <input type="text" class="form-control input-sm" [(ngModel)]="identifier">
                </td>
            </tr>
            <tr>
                <td nowrap>
                    <label>Scope:</label>
                </td>
                <td>
                    <select class="form-control input-sm" style="display: inline-block" [(ngModel)]="selectedScope">
                        <option *ngFor="let s of scopes">{{s}}</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="panel panel-default vbox" style="margin-top: 6px;">
        <div class="panel-body table-responsive" style="min-height: 80px;">
            <table class="table table-condensed table-hoverable">
                <colgroup>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>Stored configurations</th>
                        <th>Scope</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ref of references" (click)="selectReference(ref)" [ngClass]="{active: selectedRef == ref}">
                        <td>{{ref.identifier}}</td>
                        <td>{{ref.getReferenceScope()}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!identifier">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>