<div class="modal-header">
    <h3 class="modal-title">Projects list</h3>
</div>
<div class="modal-body vbox" style="min-height: 100px;">
    <div class="panel panel-default vbox" style="margin-left: 5px;">
        <div class="panel-heading">
            <label>Projects</label>
        </div>
        <div class="panel-body scrollableContainer">
            <div *ngFor="let p of projectList" class="listItem" (click)="selectProject(p)"
                [ngClass]="{ active: selectedProject == p, disabled: isWorkingProject(p) }">
                {{p.getName()}}
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!isAccessClickable()">Access</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>