<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" style="padding: 10px;" 
	(click)="onMenuOpen()" [title]="currentUser.getShow()">
	<div class="avatarContainer" style="height: 24px; width: 24px;">
		<img [src]="userAvatarUrl" (error)="setFallbackImage()" style="max-height: 24px; max-width: 24px; background-color: #95A5BC;"/>
	</div>
</a>
<ul class="dropdown-menu" style="font-size: 12px;">
	<li>
		<div class="hbox" style="padding: 10px; align-items: center;">
			<div class="avatarContainer" style="height: 48px; width: 48px;">
				<img [src]="userAvatarUrl" (error)="setFallbackImage()" style="max-height: 48px; max-width: 48px;"/>
			</div>
			<a [routerLink]="['/Profile']" style="margin-left: 4px;">
				<span style="font-weight: bold; white-space: nowrap;">{{currentUser.getShow()}}</span>
			</a>
		</div>
	</li>
	<li role="separator" class="divider"></li>
	<li><a [routerLink]="['/Profile']"><span class="glyphicon glyphicon-user"></span> View profile</a></li>
	<li *ngIf="isProjectOpen()"><a [routerLink]="['/Preferences']"><span class="glyphicon glyphicon-cog"></span> Preferences</a></li>
	<li *ngIf="isAdministrationVisible()"><a [routerLink]="['/Administration/Projects']"><span class="glyphicon glyphicon-wrench"></span> Administration</a></li>
	<li role="separator" class="divider"></li>
	<li><a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
</ul>