<div class="panel panel-default">
    <div class="panel-heading">
        <label>Converter</label>
    </div>
    <div class="panel-body scrollableContainer">

        <table class="table table-condensed table-hoverable" style="margin-top: 4px;">
            <colgroup>
                <col style="width: 1%;">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Description</th>
                    <th class="text-center" nowrap>RDF Capability</th>
                    <th class="text-center">URI</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let c of availableConverters" (click)="selectConverter(c)" [ngClass]="{ active: c == selectedConverter }" style="cursor: pointer;">
                    <td>{{c.getName()}}</td>
                    <td>{{c.getDescription()}}</td>
                    <td nowrap>{{c.getRDFCapability()}}
                        <span *ngIf="c.getRDFCapability() == 'typedLiteral'" class="glyphicon glyphicon-info-sign" [title]="c.getDatatypes()"></span>
                    </td>
                    <td [title]="c.getURI()">{{c.getQName()}}</td>
                </tr>
            </tbody>
        </table>


        <div *ngIf="selectedConverter" class="groupPanel vbox" style="margin-top: 12px;">
            <div class="groupPanel-heading">
                <span style="flex: 1">
                    <label class="groupPanel-heading-content">Converter parameterization:</label>
                </span>
            </div>
            <div class="groupPanel-body hbox">
                <div class="subPanel" style="flex: 1;">
                    <div class="subPanel-heading">
                        <label>Signature</label>
                    </div>
                    <div class="subPanel-body">
                        <div *ngFor="let s of availableSignatures" class="listItem" (click)="selectSignature(s)" [ngClass]="{ active: s == selectedSignature }">
                            <span>{{getSignatureShow(s)}}</span>
                            <!-- <span *ngIf="s.getRequirementLevels() != 'IGNORED'" [title]="'Feature path ' + s.getRequirementLevels().toLocaleLowerCase()" style="margin-left: 4px; font-weight: bold;">
                                <span class="glyphicon glyphicon-arrow-left"></span>
                                <span style="font-size: 13px;">../</span><span *ngIf="s.getRequirementLevels() == 'OPTIONAL'">?</span>
                            </span> -->
                            <span *ngIf="s.getRequirementLevels() != 'IGNORED'" [title]="'Feature path ' + s.getRequirementLevels().toLocaleLowerCase()" style="margin-left: 4px; font-weight: bold;">
                                <ng-container *ngIf="s.getRequirementLevels() == 'OPTIONAL'">
                                    [
                                    <span class="glyphicon glyphicon-arrow-left"></span>
                                    <span style="font-style: italic;">F</span>
                                    ]
                                </ng-container>
                                <ng-container *ngIf="s.getRequirementLevels() == 'REQUIRED'">
                                    <span class="glyphicon glyphicon-arrow-left"></span>
                                    <span style="font-style: italic;">F</span>
                                </ng-container>
                            </span>

                        </div>
                    </div>
                </div>


                <!-- default literal converter, datatype and language choice -->
                <div *ngIf="showDefaultLiteralConverterOpt(); else otherConvBlock" class="panel panel-default" style="flex: 3; margin-left: 4px;">
                    <div class="panel-body hbox" style="align-items: center;">
                        <select class="form-control input-sm" style="max-width: 150px; margin-right: 4px;" [(ngModel)]="selectedLiteralAspect"
                            [disabled]="!literalAspectChangeable">
                            <option *ngFor="let o of literalAspectOpts">{{o}}</option>
                        </select>
                        <ng-container [ngSwitch]="selectedLiteralAspect">
                            <lang-picker *ngSwitchCase="languageLiteralAspect" style="flex: 1;" [(ngModel)]="language"
                                (ngModelChange)="onSignatureParamChange()" [readonly]="constrainedLanguage">
                            </lang-picker>
                            <datatype-picker *ngSwitchCase="datatypeLiteralAspect" style="flex: 1;" [(ngModel)]="datatype"
                                (ngModelChange)="onSignatureParamChange()" [readonly]="constrainedDatatype">
                            </datatype-picker>
                            <input *ngSwitchDefault class="form-control input-sm" readonly>
                        </ng-container>
                    </div>

                </div>
                <!-- other converters -->
                <ng-template #otherConvBlock>
                    <div *ngIf="signatureParams?.length > 0" class="subPanel" style="flex: 2; margin-left: 4px;">
                        <div class="subPanel-heading">
                            <label>Params</label>
                        </div>
                        <div class="subPanel-body">
                            <table class="table table-condensed table-borderless">
                                <colgroup>
                                    <col style="width: 1%;">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr *ngFor="let p of signatureParams">
                                        <td nowrap>
                                            <label>{{p.name}}</label>
                                            <span class="glyphicon glyphicon-info-sign" [title]="getParameterTitle(p)"></span>
                                        </td>
                                        <td>
                                            <ng-container *ngIf="p.type == 'java.lang.String'">
                                                <div *ngIf="p.name == 'xRole'; else genericStringParamElseBlock" class="hbox">
                                                    <select [(ngModel)]="p.value" class="form-control input-sm" (ngModelChange)="onSignatureParamChange()">
                                                        <option *ngFor="let r of xRoles">{{r}}</option>
                                                    </select>
                                                </div>
                                                <ng-template #genericStringParamElseBlock>
                                                    <input class="form-control input-sm" [(ngModel)]="p.value" (ngModelChange)="onSignatureParamChange()">
                                                </ng-template>
                                            </ng-container>
                                            <map-param-editor *ngIf="p.type == 'java.util.Map<java.lang.String, org.eclipse.rdf4j.model.Value>'" 
                                                [value]="p.value" (valueChanged)="onMapParamChange($event, p)">
                                            </map-param-editor>
                                            <list-param-editor *ngIf="p.type == 'org.eclipse.rdf4j.model.Value[]'" 
                                                [value]="p.value" (valueChanged)="onListParamChange($event, p)">
                                            </list-param-editor>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>

    </div>
    <div *ngIf="isConverterRandom()" class="panel-footer">
        <div class="checkbox-inline">
            <label>
                <input type="checkbox" [(ngModel)]="memoize" (ngModelChange)="onMemoizeChange()">Memoize
            </label>
            <span class="glyphicon glyphicon-info-sign" title="Apply the memoization: given the same input, the converter will generate the same output">
            </span>
        </div>
    </div>
</div>