<div class="modal-header">
    <h3 class="modal-title">{{context.title}}</h3>
</div>
<div class="modal-body">
    <div class="hbox" style="align-items: center; margin-bottom: 4px;">
        <div style="flex: 1;" (keydown)="onKeydown($event)">
            <div class="hbox" style="align-items: center;">
                <label style="width: 50px;">Value:</label>
                <textarea id="toFocus" type="text" class="form-control input-sm" rows="1" style="flex: 1; margin-right: 4px; height: initial"
                    [(ngModel)]="value" [disabled]="context.valueReadonly"></textarea>
                <lang-picker [(ngModel)]="lang" [disabled]="context.langReadonly" [constrain]="context.langConstraints?.constrain" 
                    [locale]="context.langConstraints?.locale">
                </lang-picker>
            </div>
        </div>
        <div *ngIf="context.multiLabelOpt.enabled" class="hbox" style="flex: initial; align-items: center; margin-left: 6px;">
            <button *ngIf="context.multiLabelOpt.enabled" class="btn btn-default btn-xs" (click)="addValue()" [disabled]="!isAddValueEnabled()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <div style="width: 14px; margin-left: 2px;">
                <span *ngIf="isDuplicateLangViolated()" class="glyphicon glyphicon-exclamation-sign" title="You cannot create multiple values with the same language"></span>
            </div>
        </div>
    </div>
    <div class="panel panel-default" *ngIf="values.length > 0">
        <div class="panel-body vbox scrollableContainer" style="max-height: 300px;">
            <div *ngFor="let v of values" class="listItem">
                <rdf-resource style="flex: 1;" [resource]="v"></rdf-resource>
                <button class="btn btn-default btn-xs" (click)="removeValue(v)">
                    <span class="glyphicon glyphicon-trash" title="Remove label"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="hbox" style="align-items: center;">
        <div style="flex: 1; margin-right: 14px; text-align: initial;">
            <div *ngIf="!lang && viewInitialized" class="alert alert-danger" style="padding: 7px;">
                You cannot create values. You have no language assigned for the current project.
            </div>
        </div>
        <div>
            <span *ngIf="isOkWarningActive()" class="glyphicon glyphicon-warning-sign" style="margin-right: 2px;"
                title="Warning: the value currently typed will not be considered. It needs to be added through the '+' button">
            </span>
            <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!isOkEnabled()">Ok</button>
            <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
        </div>
    </div>
</div>