<div class="panel panel-default vbox">
    <!-- Commands -->
    <div class="panel-heading">
        <div *ngIf="editable" class="btn-group btn-group-xs" role="group">
            <!-- <button class="btn btn-default" title="Create Lexical Entry" (click)="create()" [disabled]="isCreateDisabled()">
                <img src="../../../../../assets/images/icons/actions/ontolexLexicalEntry_create.png" class="panelButtonImg"/>
            </button>
            <ng-template [ngIf]="deletable">
                <button class="btn btn-default" title="Delete Lexical Entry" (click)="delete()" [disabled]="isDeleteDisabled()">
                    <img src="../../../../../assets/images/icons/actions/ontolexLexicalEntry_delete.png" class="panelButtonImg"/>
                </button>
                <button class="btn btn-default" title="Deprecate Lexical Entry" (click)="deprecate()" [disabled]="isDeprecateDisabled()">
                    <img src="../../../../../assets/images/icons/actions/ontolexLexicalEntry_deprecate.png" class="panelButtonImg"/>
                </button>
            </ng-template> -->

            <ng-template ngFor let-action [ngForOf]="panelActions">
                <button *ngIf="isActionVisible(action)" class="btn btn-default" [title]="action.title" (click)="executeAction(action)" [disabled]="isActionDisabled(action)">
                    <img [src]="action.icon" class="panelButtonImg"/>
                </button>
            </ng-template>
        </div>
        <div style="flex: 1"></div>
        <div class="btn-toolbar" role="toolbar">
            <button class="btn btn-default btn-xs" title="Rendering" (click)="rendering=!rendering" [ngClass]="{ active: rendering }">
                <span class="glyphicon glyphicon-font"></span>
            </button>
            <button class="btn btn-default btn-xs" title="Refresh" (click)="refresh()">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
            <button *ngIf="isOpenSettingsAvailable()" class="btn btn-default btn-xs" title="Settings" (click)="settings()">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
        </div>

        <div class="dropdown pull-right">
            <button class="dropdown-toggle transparentBtn" data-toggle="dropdown" [disabled]="!allowMultiselection && !isOpenGraphEnabled('dataOriented')">
                <span>&#9662;</span>
            </button>
            <ul class="dropdown-menu">
                <ng-container *ngIf="allowMultiselection">
                    <li>
                        <a (click)="toggleMultiselection()">
                            <span style="flex: 1;">
                                <span class="glyphicon glyphicon-check" style="margin-right: 4px;"></span>
                                Multiselection
                            </span>
                            <span *ngIf="multiselection" class="glyphicon glyphicon-ok pull-right"></span>
                        </a>
                    </li>
                    <li *ngIf="context=='dataPanel' && multiselection" [ngClass]="{ disabled: checkedNodes.length == 0 }">
                        <a (click)="enrichMultiSubject()">
                            <span class="glyphicon glyphicon-check" style="margin-right: 4px; margin-left: 16px;"></span>
                            Add a property value to selected values
                        </a>
                    </li>
                </ng-container>
                <li *ngIf="isOpenGraphEnabled('dataOriented')">
                    <a (click)="openDataGraph()">
                        <img src="../../../../../assets/images/icons/res/ontology.png" style="margin-right: 4px;" width="11px">
                        Show data-oriented graph
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- List -->
    <div class="panel-body vbox">

        <div *ngIf="lexiconChangeable" style="padding-bottom: 3px; display: flex; align-items: center">
            <span style="white-space: nowrap; margin: 0px 3px;">Lexicon:</span>
            <select class="form-control input-xs" [(ngModel)]="workingLexicon" (ngModelChange)="onLexiconSelectionChange()">
                <option *ngFor="let l of lexiconList" [ngValue]="l">{{getLexiconRendering(l)}}</option>
            </select>
        </div>

        <div *ngIf="visualizationMode == 'indexBased'" style="padding-bottom: 3px; display: flex; align-items: center">
            <select class="form-control input-xs" [(ngModel)]="firstDigitIndex" (ngModelChange)="onDigitChange()" style="width: initial">
                <option *ngFor="let i of alphabet">{{i}}</option>
            </select>
            <ng-template [ngIf]="indexLenght>1">
                <span style="font-weight: bold; margin: 0 5px">&gt;</span>
                <select class="form-control input-xs" [(ngModel)]="secondDigitIndex" (ngModelChange)="onDigitChange()" style="width: initial">
                    <option value=" ">{{firstDigitIndex}}⎵</option>
                    <option *ngFor="let i of alphabet" [value]="i">{{firstDigitIndex}}{{i}}</option>
                </select>
            </ng-template>
        </div>

        <div *ngIf="visualizationMode == 'searchBased' && !lastSearch" class="alert alert-warning" style="margin-bottom: 4px;">
            Please use the search field to retrieve lexical entries
        </div>

        <lexical-entry-list [lexicon]="workingLexicon" [index]="index" [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated"
            [context]="context" [projectCtx]="projectCtx" (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)">
        </lexical-entry-list>
    </div>

    <!-- Search -->
    <div *ngIf="!hideSearch" class="panel-footer">
        <search-bar (search)="doSearch($event)" (advancedSearch)="advancedSearch($event)" [roles]="[panelRole]" 
            [context]="context" [projectCtx]="projectCtx" [disabled]="!workingLexicon">
        </search-bar>
    </div>
    
</div>