<div class="panel panel-default vbox">
    <!-- Commands -->
    <div class="panel-heading">
        <div *ngIf="editable" class="btn-group btn-group-xs" role="group">
            <!-- <button class="btn btn-default" title="Create Concept Scheme" (click)="create()" [disabled]="isCreateDisabled()">
                <img src="../../../../../assets/images/icons/actions/conceptScheme_create.png" class="panelButtonImg"/>
            </button>
            <ng-template [ngIf]="deletable">
                <button class="btn btn-default" title="Delete Concept Scheme" (click)="delete()" [disabled]="isDeleteDisabled()">
                    <img src="../../../../../assets/images/icons/actions/conceptScheme_delete.png" class="panelButtonImg"/>
                </button>
                <button class="btn btn-default" title="Deprecate Concept Scheme" (click)="deprecate()" [disabled]="isDeprecateDisabled()">
                    <img src="../../../../../assets/images/icons/actions/conceptScheme_deprecate.png" class="panelButtonImg"/>
                </button>
            </ng-template> -->

            <ng-template ngFor let-action [ngForOf]="panelActions">
                <button *ngIf="isActionVisible(action)" class="btn btn-default" [title]="action.title" (click)="executeAction(action)" [disabled]="isActionDisabled(action)">
                    <img [src]="action.icon" class="panelButtonImg"/>
                </button>
            </ng-template>
        </div>
        <div style="flex: 1"></div>
        <div class="btn-toolbar" role="toolbar">
            <div *ngIf="editable && context == 'dataPanel'" class="btn-group btn-group-xs" role="group" style="margin-right: 5px;">
                <button class="btn btn-default" title="Select all schemes" (click)="activateAllScheme()">
                    <span class="glyphicon glyphicon-check" style="width: 16px;"></span>
                </button>
                <button class="btn btn-default" title="Deselect all schemes" (click)="deactivateAllScheme()">
                    <span class="glyphicon glyphicon-unchecked" style="width: 16px;"></span>
                </button>
            </div>
            <button class="btn btn-default btn-xs" title="Rendering" (click)="rendering=!rendering" [ngClass]="{ active: rendering }">
                <span class="glyphicon glyphicon-font"></span>
            </button>
            <button class="btn btn-default btn-xs" title="Refresh" (click)="refresh()">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
        </div>

        <div class="dropdown pull-right">
            <!-- Disabled when all the options are not available -->
            <button class="dropdown-toggle transparentBtn" data-toggle="dropdown"
                [disabled]="!allowMultiselection && !isOpenGraphEnabled('dataOriented') && !isAddAllConceptsEnabled()">
                <span>&#9662;</span>
            </button>
            <ul class="dropdown-menu">
                <ng-container *ngIf="allowMultiselection">
                    <li>
                        <a (click)="toggleMultiselection()">
                            <span style="flex: 1;">
                                <span class="glyphicon glyphicon-check" style="margin-right: 4px;"></span>
                                Multiselection
                            </span>
                            <span *ngIf="multiselection" class="glyphicon glyphicon-ok pull-right"></span>
                        </a>
                    </li>
                    <li *ngIf="context=='dataPanel' && multiselection" [ngClass]="{ disabled: checkedNodes.length == 0 }">
                        <a (click)="enrichMultiSubject()">
                            <span class="glyphicon glyphicon-check" style="margin-right: 4px; margin-left: 16px;"></span>
                            Add a property value to selected values
                        </a>
                    </li>
                </ng-container>
                <li *ngIf="isAddAllConceptsEnabled()">
                    <a (click)="addAllConcepts()">
                        <span class="glyphicon glyphicon-share-alt" style="margin-right: 4px; transform: rotate(90deg)"></span>
                        Add all concepts to the selected scheme
                    </a>
                </li>
                <li *ngIf="isOpenGraphEnabled('dataOriented')">
                    <a (click)="openDataGraph()">
                        <img src="../../../../../assets/images/icons/res/ontology.png" style="margin-right: 4px;" width="11px">
                        Show data-oriented graph
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <div class="panel-body vbox">
        <scheme-list [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated" [context]="context" [projectCtx]="projectCtx" 
            (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)">
        </scheme-list>
    </div>

    <!-- search -->
    <div class="panel-footer">
        <search-bar (search)="doSearch($event)" (advancedSearch)="advancedSearch($event)" [roles]="[panelRole]" [context]="context" [projectCtx]="projectCtx">
        </search-bar>
    </div>

</div>